<template>
      <div class="card card-custom">
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content">
                  	<form v-on:submit.prevent="search()">
					  <div class="row" dir="rtl">
                          <div class="col-md-4 col-sm-12" v-if="user.role=='Admin'">
							  <BranchesSelect @branch="branch" :dataRef="'WarehouseBranchFilterSelect'"></BranchesSelect>
						  </div>
						   <div class="col-md-4 col-sm-12">
							  <SubBranchesSelect :branchID="filters.branch" @subbranch="subbranch" :dataRef="'WarehouseSubBranchFilterSelect'"></SubBranchesSelect>
						  </div>
						  <div class="col-md-4 col-sm-12">
							  <AllWarehousesSelect :SubBranchID="filters.subbranch" :branchID="filters.branch" @warehouse="warehouse"></AllWarehousesSelect>
						  </div>
						  <div class="col-md-4 col-sm-12">
							   <DonorsSelect @donor="donor"  :dataRef="'WarehouseFilterSelect'" ></DonorsSelect>
						  </div>
						  <div class="col-md-4 col-sm-12">
                               <DonorMaterialsSelect 
                                	@material="material" 
									:donor_id="filters.donor"
                               ></DonorMaterialsSelect>
						  </div>
                           <div class="col-md-4 col-sm-12">
                               <UnitSelect></UnitSelect>
                           </div>
						     <div class="col-md-6 col-sm-12">
                               <TransfersSelect @transfer="transfer" :dataRef="'TransferFilterSelect'" ></TransfersSelect>
                           </div>
						   <div class="col-md-6 col-sm-12">
							   <div class="form-group">
									<label class="col-form-label col-12 font-weight-bolder">من/ إلى</label>
									<div class="col-12">
										<div class='input-group' id='kt_daterangepicker_2'>
											<input type='text' class="form-control"   placeholder="حدد التاريخ" v-model="date_range"/>
											<div class="input-group-append">
												<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
											</div>
											
										</div>
									</div>
								</div>
						  </div>
						  <div class="col-md-12 text-right d-flex justify-content-between">
							<button 
									@click="search()"
									type="submit" class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder "
										:class="loading ? 'spinner spinner-white spinner-left':''" >
									<i class="flaticon-search"></i>
									بحث
							</button>
								<button 
									@click="export_report('xlsx')"
									type="submit" class="btn btn-pill btn-dark opacity-90 px-15 py-3 font-weight-bolder " 
										:class="export_loading ? 'spinner spinner-white spinner-left':''">
									تصدير Excel
									<i class="la la-file-excel-o"></i>
							</button>
							
						  </div>
					  </div>
					</form>
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
	</div>
</template>

<style src="./filters.component.scss"  lang="scss"></style>
<script src="./filters.component.js"></script>