<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
           <RoleModal
          v-on:refresh-data="refreshData=true"
          :showModal="showModal"
          
        ></RoleModal>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <RolesTable 
            :data="roles_data" 
            v-on:get-data="getData"
            :refreshData="refreshData"
            @refreshed="refreshData=false"/>
        </div>
    </div>
</div>
</template>

<script src="./roles_index.view.js"></script>