<template>
  <div
    class="modal fade"
    id="SectorsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalSizeLg"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100 font-weight-bolder font-size-h3">إضافة قطاع</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="showModal = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="w-100" v-on:submit.prevent="storeItem(sector)">
            <div class="form-row">
              <input type="hidden" v-model="sector.id">
              <div class="form-group row" style="width:100%">
                <label class="col-form-label col-12 font-weight-bolder">الرمز</label>
                <div class="col-12">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="$v.sector.code.$model"
                    :class="$v.sector.code.$invalid ? 'is-invalid':''"
                    :invalid="$v.sector.code.$invalid"
                  >
                  <div class="fv-plugins-message-container">
                    <div
                      v-for="error in $v.sector.code.$errors"
                      :key="error.$property"
                      data-field="username"
                      data-validator="notEmpty"
                      class="fv-help-block"
                    >{{error.$message}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group row" style="width:100%">
                <label class="col-form-label col-12 font-weight-bolder">الاسم (العربي)</label>
                <div class="col-12">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="sector.name.ar"
                  >
                </div>
              </div>
              <div class="form-group row" style="width:100%">
                <label class="col-form-label col-12 font-weight-bolder">الاسم (الانكليزي)</label>
                <div class="col-12">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="sector.name.en"
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-pill btn-secondary"
            id="closeSector"
            @click="showModal=false"
            data-dismiss="modal"
          >
            <span class="la la-close icon-nm ml-2"></span>
            <span class>إلغاء</span>
          </button>
          <button
            data-dismiss="modal"
            @click="storeItem(sector)"
            :disabled="loading_store"
            :class="loading_store ? 'spinner spinner-white spinner-left':''"
            type="submit"
            class="btn btn-pill btn-primary opacity-90 px-15 py-3 font-weight-bolder"
          >حفظ</button>
        </div>
      </div>
    </div>
  </div>
</template>
<style src="./sector_modal.component.scss"  lang="scss"></style>

<script src="./sector_modal.component.js"></script>