<template>
    <div class="card card-custom">
		<!--begin::Header-->
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label" style="text-align:right">
                 <strong> الهلال الأحمـــر العربي السوري</strong>
                 <br/>
                 <strong> Syrian Arab Red Crescent</strong>
                   <br/>
                   <strong>التقـــــــرير الدوري لمخــــزون المستودعــــــــات</strong>
                    <br/>
                    <strong> Warehouse Stock Report</strong>
				</h3>
			</div>
			<div class="card-toolbar d-flex align-items-center">
               <img src="/images/logo.jpg" style="width:120px;"/>
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content">
                    <table id="WarehouseReportsTable" class="table table-striped" style="direction:rtl;text-align:right;overflow-x:scroll">
                        <thead class="thead-light">
                            <tr>
                                <th class="">
                                    <span>الشهر</span>
                                    <div class="font-weight-bold text-muted">Month</div>
                                </th>
                                 <th class="">
                                    <span>الفرع</span>
                                    <div class="font-weight-bold text-muted">Branch</div>
                                </th>
                                <th class="">
                                    <span>الشعبة</span>
                                    <div class="font-weight-bold text-muted">Sub-Branch</div>
                                </th>
                                <th class="">
                                    <span>إسم المستودع</span>
                                    <div class="font-weight-bold text-muted">Warehouse Name</div>
                                </th>
                               <th class="">
                                    <span>الشريك</span>
                                    <div class="font-weight-bold text-muted">Partner</div>
                                </th>
                                 <th class="">
                                    <span>المادة</span>
                                    <div class="font-weight-bold text-muted">Item</div>
                                </th>
                                 <th class="">
                                    <span>القطاع</span>
                                    <div class="font-weight-bold text-muted">Sector</div>
                                </th>
                                 <th class="">
                                    <span>الوحدة</span>
                                    <div class="font-weight-bold text-muted">Unit</div>
                                </th>
                                <th class="">
                                    <span>رقم المتابعة</span>
                                    <div class="font-weight-bold text-muted">CTN</div>
                                </th>
                                <th class="">
                                    <span>مواد أخرى</span>
                                    <div class="font-weight-bold text-muted">Other Items</div>
                                </th>
                                 <th class="">
                                    <span>الرصيد الافتتاحي</span>
                                    <div class="font-weight-bold text-muted">Open. Balance</div>
                                </th>
                                 <th class="">
                                    <span>إجمالي الوارد</span>
                                    <div class="font-weight-bold text-muted">Total IN</div>
                                </th>
                                <th class="">
                                    <span>تاريخ الاستلام</span>
                                    <div class="font-weight-bold text-muted">Receiving Date</div>
                                </th>
                                 <th class="">
                                    <span>رقم مذكرة الإستلام</span>
                                    <div class="font-weight-bold text-muted">Goods Received Note</div>
                                </th>
                                 <th class="">
                                    <span>إجمالي الصادر</span>
                                    <div class="font-weight-bold text-muted">Total OUT</div>
                                </th>
                                <th class="">
                                    <span>رقم مذكرة التسليم</span>
                                    <div class="font-weight-bold text-muted">Delivery Note</div>
                                </th>
                                  <th class="">
                                    <span>المنطقة المرسل إاليها</span>
                                    <div class="font-weight-bold text-muted">Location Of Sent Item</div>
                                </th>
                                <th class="">
                                    <span>تاريخ الإرسال</span>
                                    <div class="font-weight-bold text-muted">Sending Date</div>
                                </th>
                                  <th class="">
                                    <span>الفاقد</span>
                                    <div class="font-weight-bold text-muted">Loss</div>
                                </th>
                                <th class="">
                                    <span>سبب الفقد</span>
                                    <div class="font-weight-bold text-muted">Reason for Loss</div>
                                </th>
                                <th class="">
                                    <span>التالف</span>
                                    <div class="font-weight-bold text-muted">Damage</div>
                                </th>
                                <th class="">
                                    <span>سبب التلف</span>
                                    <div class="font-weight-bold text-muted">Reasons for Damage</div>
                                </th>
                                <th class="">
                                    <span>فرق الجرد</span>
                                    <div class="font-weight-bold text-muted">Inventory</div>
                                </th>
                                <th class="">
                                    <span>الرصيد المتبقي</span>
                                    <div class="font-weight-bold text-muted">Closing Balance</div>
                                </th>
                                <th class="">
                                    <span>التورزيع</span>
                                    <div class="font-weight-bold text-muted">Distribution</div>
                                </th>
                                <th class="">
                                    <span>مرتجع</span>
                                    <div class="font-weight-bold text-muted">Return</div>
                                </th>
                                <th class="">
                                    <span>مناقلة</span>
                                    <div class="font-weight-bold text-muted">Transfer</div>
                                </th>
                                <th class="">
                                    <span>قوافل</span>
                                    <div class="font-weight-bold text-muted">Convoys</div>
                                </th>
                                 <th class="">
                                    <span>ملاحظات</span>
                                    <div class="font-weight-bold text-muted">Notes</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                            <tr style="background:#fff;" v-if="loading">
                                <td colspan="4" style="width:100%;height:200px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="spinner spinner-danger spinner-left"></span>
                                    </div>
                                </td>
                            </tr>
                            <template  v-else>
                                <template v-for="index in Object.keys(warehouse_report).length" >
                                    <tr v-for="(item,key) in warehouse_report[Object.keys(warehouse_report)[index-1]]" :key="item.id">
                                        <td>{{$filters.getMonthInAr(item.date)}} - {{$filters.getMonthInEn(item.date)}}</td>
                                        <td>
                                            <template v-if="item.warehouse && item.warehouse.branchable_type=='App\\Models\\Branch'">
                                                    {{ item.warehouse.branchable.name.ar }} - {{ item.warehouse.branchable.name.en }}
                                            </template>
                                            <template v-else>
                                                    {{ item.warehouse.branchable.branch.name.ar }} - {{ item.warehouse.branchable.branch.name.en }}
                                            </template>
                                        </td>
                                        <td>
                                            <template v-if="item.warehouse && item.warehouse.branchable_type=='App\\Models\\Branch'">
                                                {{ item.warehouse.branchable.name.ar }} - {{ item.warehouse.branchable.name.en }}
                                            </template>
                                            <template v-else>
                                                {{ item.warehouse.branchable.name.ar }} - {{ item.warehouse.branchable.name.en }}
                                            </template>
                                        </td>
                                        <td>
                                            مستودع {{ item.warehouse.name.ar }}
                                        </td>
                                        <td>
                                            {{ item.material_donor.donor.code }}
                                        </td>
                                        <td>
                                            {{ item.material_donor.material.name.ar }} - {{ item.material_donor.material.name.en }}
                                        </td>
                                        <td>
                                            {{item.material_donor.material.sector.name.en }}
                                        </td>
                                        <td>
                                            {{ item.material_donor.unit.name.ar }} - {{ item.material_donor.unit.name.en }}
                                        </td>
                                        <td>
                                            {{item.ctn ? item.ctn.name.en :'' }}
                                        </td>
                                        <td></td>
                                        <td>
                                            <template v-if="key==0">
                                                <template v-if="index>1">
                                                    {{ warehouse_report[Object.keys(warehouse_report)[index-2]][warehouse_report[Object.keys(warehouse_report)[index-2]].length-1].closing_balance}}
                                                </template>
                                            </template>
                                        </td>
                                        <td>
                                            <template v-if="item.transactionable_type=='App\\Models\\TransactionIn'">
                                                {{ item.quantity }}
                                            </template>
                                        </td>
                                        <td>
                                             <template v-if="item.transactionable_type=='App\\Models\\TransactionIn'">
                                                {{ item.date }}
                                            </template>
                                        </td>
                                        <td>
                                             <template v-if="item.transactionable_type=='App\\Models\\TransactionIn'">
                                                {{ item.wabyill_no }}
                                            </template>
                                        </td>
                                        <td>
                                             <template v-if="item.transactionable_type=='App\\Models\\TransactionOut'">
                                                {{ item.quantity }}
                                            </template>
                                        </td>
                                        <td>
                                             <template v-if="item.transactionable_type=='App\\Models\\TransactionOut'">
                                                {{ item.waybill_no }}
                                            </template>
                                        </td>
                                        <td>
                                            <template v-if="item.transactionable_type=='App\\Models\\TransactionOut'">
                                                <template v-if="item.transactionable && item.transactionable.toable_type=='App\\Models\\DistributionPoint'">
                                                    {{ item.transactionable.toable.name }}
                                                </template>
                                                <template v-else>
                                                    {{ item.transactionable.toable.name.ar }}
                                                </template>
                                            </template>
                                        </td>
                                         <td>
                                             <template v-if="item.transactionable_type=='App\\Models\\TransactionOut'">
                                                {{ item.date }}
                                            </template>
                                        </td>
                                        <td>
                                            {{ item.loss }}
                                        </td>
                                        <td>
                                            {{ item.reaso_for_loss }}
                                        </td>
                                        <td>
                                            {{ item.damage }}
                                        </td>
                                        <td>
                                            {{ item.reaso_for_damage }}
                                        </td>
                                        <td></td>
                                        <td>
                                            <template v-if="key == warehouse_report[Object.keys(warehouse_report)[index-1]].length-1">
                                                {{ item.closing_balance }}
                                            </template>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <template v-if="item.transaction_type">
                                                {{ item.transaction_type.name.ar }} - {{ item.transaction_type.name.en }}
                                            </template>
                                        </td>
                                        <td>
                                            {{ item.isConvoy }}
                                        </td>
                                        <td>
                                            {{ item.notes }}
                                        </td>
                                    </tr>
                                </template> 
                            </template>
                        </tbody>
                    </table>
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
	</div>
</template>

<style lang="scss" scoped  src="./warehouse-report-table.component.scss"></style>
<script src="./warehouse-report-table.component.js"></script>