<template>
  <form class="w-100" v-on:submit.prevent="store()">
    <div class="form-row" style="display:flex;align-items:center;">
      <div class="row w-100">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label col-12 font-weight-bolder">
              اسم المادة بالعربي
              <span class="required">*</span>
            </label>
            <div class="col-12">
              <input class="form-control form-control-lg" type="text" dir="rtl" placeholder v-model="material.name.ar">
              <span class="kt-input-icon__icon kt-input-icon__icon--left"></span>
              <div class="fv-plugins-message-container"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label col-12 font-weight-bolder">
              اسم المادة بالانكليزي
              <span class="required">*</span>
            </label>
            <div class="col-12">
              <input class="form-control form-control-lg" type="text" dir="rtl" v-model="material.name.en">
              <span class="kt-input-icon__icon kt-input-icon__icon--left"></span>
              <div class="fv-plugins-message-container"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <SectorSelect
            :dataRef="'MaterialSectorSelect'"
            @sector="(param)=>{material.sector_id=param}"
            :selected="material.sector_id"
            :required="true"
          />
        </div>
        <div class="col-md-6" v-if="user.role.length>0 && user.role[0]=='donor'">
            <DonorsSelect
            @donor="(param)=>{donor_material.donor_id=param}"
            :dataRef="'MaterialFormelect'"
            :selected="donor_id!=null ? donor_id:(donor_material && donor_material.donor) ? donor_material.donor.id : user.rolable_id"
            :disabled="donor_disabled == 0"
            :label="'اختر الشريك'"
          ></DonorsSelect>
        </div>
         <div class="col-md-6" v-if="user.role.length>0 && user.role[0]!='donor'">
          <DonorsSelect
            @donor="(param)=>{donor_material.donor_id=param}"
            :dataRef="'MaterialFormelect'"
            :selected="donor_id!=null ? donor_id:( donor_material && donor_material.donor) ? donor_material.donor.id : donor_material.donor_id"
            :disabled="donor_disabled"
            :label="'اختر الشريك'"
          ></DonorsSelect>
        </div>
        <div class="col-md-12">
          <UnitSelect
            :dataRef="'MaterialUnitFormSelect'"
            :donor_material_id="null"
            :selected="donor_material.unit_id"
            :disabled="false"
            :label="'اختر الواحدة'"
            @unit="(param)=>{donor_material.unit_id=param}"
          ></UnitSelect>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label col-12 font-weight-bolder">الحجم</label>
            <div class="col-12">
              <input class="form-control form-control-lg" type="text" dir="rtl" placeholder v-model="donor_material.size">
              <span class="kt-input-icon__icon kt-input-icon__icon--left"></span>
              <div class="fv-plugins-message-container"></div>
            </div>
          </div>
        </div>
         <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label col-12 font-weight-bolder">الوزن</label>
            <div class="col-12">
              <input class="form-control form-control-lg" type="text" dir="rtl" v-model="donor_material.weight">
              <span class="kt-input-icon__icon kt-input-icon__icon--left"></span>
              <div class="fv-plugins-message-container"></div>
            </div>
          </div>
        </div>
         <div class="col-md-12">
          <div class="form-group">
            <label class="col-form-label col-12 font-weight-bolder">محتوى المادة</label>
            <div class="col-12">
              <textarea class="form-control form-control-lg" type="text" dir="rtl" v-model="donor_material.content" ></textarea>
              <span class="kt-input-icon__icon kt-input-icon__icon--left"></span>
              <div class="fv-plugins-message-container"></div>
            </div>
          </div>
        </div>
          <div class="col-md-12 text-right">
				    <button 
					type="submit" class="btn btn-pill btn-warning opacity-90 px-15 py-3 font-weight-bolder " 
          	:class="loading_store ? 'spinner spinner-white spinner-left':''">
						حفظ
					</button>
				</div>
      </div>
    </div>
  </form>
</template>
<style src="./material_form.component.scss"  lang="scss"></style>

<script src="./material_form.component.js"></script>