<template>
    <div class="kt-header__top ">
    <div class="kt-container kt-container--fluid ">
        <!-- begin:: Brand -->
        <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
            <div class="kt-header__brand-nav">
               <img src="/images/SWIS 02.png">
            </div>
        </div>
        <!-- end:: Brand -->
        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">
            <header-notifications></header-notifications>
            <header-user-bar></header-user-bar>
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>

</template>

<script src="./header-top.component.js"></script>
<style lang="scss" src="./header-top.scss"></style>