.kt-header__brand-nav{
    width:200px;
    img{
        width:100%;
    }
}


.kt-header__topbar .kt-header__topbar-item:hover {
    .kt-header__topbar-icon{
        background-color: $primary-color !important;
        transition:background-color 0.5s ease-in-out;
        -moz-transition:background-color 0.5s ease-in-out;
        -ms-transition:background-color 0.5s ease-in-out;
        -ms-transition:background-color 0.5s ease-in-out;
        -webkit-transition:background-color 0.5s ease-in-out;
    }
}