<template>
<div class="container-fluid mb-4" dir="rtl">
    <div class="row">
        <div class="col-12">
                <UserForm />
        </div>
    </div>
</div>
</template>

<script src="./user_addedit.view.js"></script>