<template>
  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3
          class="card-label"
          v-if="transaction_detail && transaction_detail.donor_material!=null"
        >حركة المادة {{ transaction_detail.donor_material.material.name.ar }}</h3>
      </div>
      <div class="card-toolbar">
        <!--begin::Dropdown-->
        <div class="dropdown dropdown-inline mr-2">
          <button
            style="direction:ltr"
            type="button"
            class="btn btn-light-primary font-weight-bolder dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="svg-icon svg-icon-md">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <path
                    d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                    fill="#000000"
                    opacity="0.3"
                  ></path>
                  <path
                    d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                    fill="#000000"
                  ></path>
                </g>
              </svg>
              <!--end::Svg Icon-->
            </span>تصدير
          </button>
          <!--begin::Dropdown Menu-->
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            <!--begin::Navigation-->
            <ul class="navi flex-column navi-hover py-2" v-if="transaction_detail">
              <li class="navi-item">
                <a
                  href="javascript:;"
                  @click="export_material(transaction_detail.donor_material_id)"
                  class="navi-link"
                >
                  <span class="navi-icon">
                    <i class="la la-file-excel-o"></i>
                  </span>
                  <span class="navi-text">Excel</span>
                </a>
              </li>
            </ul>
            <!--end::Navigation-->
          </div>
          <!--end::Dropdown Menu-->
        </div>
        <!--end::Dropdown-->
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body" v-if="data && data.length>0">
      <div class="kt-section">
        <div class="kt-section__content d-flex align-items-center">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label class="col-form-label col-12 font-weight-bolder">من/ إلى</label>
              <div class="col-12">
                <div class="input-group" id="kt_daterangepicker_2">
                  <input type="text" @click="initailizeDateRangePicker()" class="form-control" placeholder="حدد التاريخ" v-model="date_range">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-right d-flex justify-content-between">
            <button
            @click="search()"
              type="submit"
              class="btn btn-pill btn-success opacity-90  py-3 font-weight-bolder"
              :class="loading ? 'spinner spinner-white spinner-left':''"
            >
              <i class="flaticon-search"></i>
              بحث
            </button>
          </div>
        </div>
      </div>
      <div class="kt-section">
        <div class="kt-section__content">
          <table
            id="GridStudents"
            class="table table-striped"
            style="direction:rtl;text-align:right"
          >
            <thead class="thead-light">
              <tr>
                <th class>
                  <span>الحركة</span>
                  <div class="font-weight-bold text-muted">Transaction</div>
                </th>
                <th class>
                  <span>الرصيد الافتتاحي</span>
                  <div class="font-weight-bold text-muted">Opening Balance</div>
                </th>
                <th class>
                  <span>الكمية</span>
                  <div class="font-weight-bold text-muted">Quantity</div>
                </th>
                <th class>
                  <span>الرصيد المتبقي</span>
                  <div class="font-weight-bold text-muted">Closing Balance</div>
                </th>

                <th></th>
              </tr>
            </thead>
            <tbody style="direction:rtl;text-align:right">
              <tr style="background:#fff;" v-show="loading">
                <td colspan="4" style="width:100%;height:200px;">
                  <div
                    style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;"
                  >
                    <span class="spinner spinner-danger spinner-left"></span>
                  </div>
                </td>
              </tr>
              <tr v-for="item in data" :key="item.id">
                <td data-field="DONORCODE" class="datatable-cell">
                  <span style="width: 250px;">
                    <div class="d-flex align-items-center">
                      <div
                        v-if="item.transactionable_type=='App\\Models\\TransactionIn'"
                        style="padding-left:10px;"
                        class="symbol symbol-50 symbol-circle symbol-sm symbol-light-success"
                      >
                        <span class="flaticon2-arrow-down symbol-label"></span>
                      </div>
                      <div
                        v-else
                        style="padding-left:10px;"
                        class="symbol symbol-50 symbol-circle symbol-sm symbol-light-danger"
                      >
                        <span class="flaticon2-arrow-up symbol-label"></span>
                      </div>
                      <div class="ml-3">
                        <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                          <span
                            v-if="item.transactionable_type=='App\\Models\\TransactionIn'"
                          >حركة وارد من: {{ item.transactionable.fromable.name.ar }}</span>
                          <span v-else>
                            : حركة صادر إلى
                            <span
                              v-if="item.transactionable.toable_type=='App\\Models\\DistributionPoint'"
                            >{{ item.transactionable.toable.name}}</span>
                            <span v-else>{{ item.transactionable.toable.name.ar}}</span>
                          </span>
                        </div>
                        <a
                          href="#"
                          class="d-block text-muted font-weight-bold text-hover-primary"
                        >رقم المذكرة: {{item.transactionable.waybill_no}}</a>
                        <a
                          href="#"
                          class="d-block text-muted font-weight-bold text-hover-primary"
                        >{{item.date}}</a>
                        <a
                          href="#"
                          class="text-muted font-weight-bold text-hover-primary"
                        >{{item.warehouse.name.ar}}</a>
                      </div>
                    </div>
                  </span>
                </td>
                <td class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                  <span>
                    <span class="font-weight-bolder">{{item.opening_balance}}</span>
                  </span>
                </td>
                <td class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                  <span>
                    <span class="font-weight-bolder">{{item.quantity}}</span>
                  </span>
                </td>
                <td class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                  <span>
                    <span class="font-weight-bolder">{{item.closing_balance}}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end::Body-->
  </div>
</template>
<script src="./material_transaction.component.js"></script>
