<template>
    <div class="card card-custom">
		<!--begin::Header-->
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label">حركات الصادر
				</h3>
			</div>
			<div class="card-toolbar">
				<!--begin::Dropdown-->
				<div class="dropdown dropdown-inline mr-2">
                    <button  
                    tag="button" @click="AddNewTransactionOut" style="direction:ltr" type="button" class="ml-5 btn btn-light-success font-weight-bolder" aria-haspopup="true" >
						<span class="svg-icon svg-icon-md svg-icon-success "><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-09-29-132851/theme/html/demo2/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
                            </g>
                        </svg>
							<!--end::Svg Icon-->
						</span>إضافة
                    </button>
					<button style="direction:ltr" type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="svg-icon svg-icon-md">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24"></rect>
										<path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"> 
                                    </path>
									<path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000">
                                    </path>
								</g>
							</svg>
							<!--end::Svg Icon-->
						</span>تصدير
                    </button>
					<!--begin::Dropdown Menu-->
					<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
					    <!--begin::Navigation-->
						<ul class="navi flex-column navi-hover py-2">
								<li class="navi-item">
									<a href="#" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-print"></i>
										</span>
										<span class="navi-text">طباعة</span>
									</a>
								</li>
								<li class="navi-item">
									<a href="#" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-file-excel-o"></i>
										</span>
										<span class="navi-text">Excel</span>
									</a>
								</li>
								<li class="navi-item">
								    <a href="#" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-file-pdf-o"></i>
										</span>
										<span class="navi-text">PDF</span>
									</a>
								</li>
						</ul>
						<!--end::Navigation-->
					</div>
					<!--end::Dropdown Menu-->
				</div>
				<!--end::Dropdown-->
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content datatable datatable-default">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                            <tr>
                                 <th class="">
                                    <span>#</span>
                                </th>
                                <th class="">
                                    <span>المذكرة</span>
                                    <div class="font-weight-bold text-muted">Note</div>
                                </th>
                                <th class="">
                                    <span>من</span>
                                    <div class="font-weight-bold text-muted">From</div>
                                </th>
                                <th class="">
                                    <span>إلى</span>
                                    <div class="font-weight-bold text-muted">To</div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                            <tr style="background:#fff;" v-if="loading">
                                <td colspan="4" style="width:100%;height:200px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="spinner spinner-danger spinner-left"></span>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr v-else-if="data" v-for="(item,index) in data.data" :key="item.id"> 
                                  <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 30px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{index+data.from}}</div>
                                    </span>
                                </td>
                                <td class="datatable-cell"> 
                                    <span style="width: 250px;">
                                        <div class="d-flex align-items-center">
                                            <div style="padding-left:10px;" class="symbol symbol-50 symbol-sm symbol-light-danger">
                                                <span class="symbol-label font-size-p" style="font-weight:bolder">
                                                    <img :src="item.src" v-if="item.src" style="width:100%;height:100%;" @click="showSingle(item.src)">
                                                    <template v-else>صورة</template>
                                                </span>								
                                            </div>								
                                            <div class="ml-3">									
                                                <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">{{item.waybill_no}}</div>	
                                                <a href="#" class="text-muted font-weight-bold text-hover-primary">{{item.date}}</a>								
                                            </div>							
                                        </div>
                                    </span>
                                </td>
                                <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.from.name.ar}}</div>
                                        <div class="font-weight-botld text-muted">{{item.from.branchable.name.ar}}- {{item.from.branchable.name.en}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0" v-if="item.toable">{{item.toable.name.ar}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell" data-field="Closing Balance"  >
                                    <span class="table-cell-controls">
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="flaticon-more-1"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                 <ul class="kt-nav">
                                                    <li class="kt-nav__item"><router-link tag="a" :to="{name:'AddEditOutCome',params:{id:item.id}}" class="kt-nav__link" href="#" ><i class="kt-nav__link-icon flaticon-edit-1 "></i><span class="kt-nav__link-text">تعديل</span></router-link></li>
                                                    <li class="kt-nav__item"><a class="kt-nav__link" href="javascript:;" @click="deleteTransactionOut(item)"><i class="kt-nav__link-icon flaticon2-trash "></i><span class="kt-nav__link-text">حذف</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </td>
                                
                            </tr>

                            <tr style="background:#fff;" v-if="data!=null && data.length == 0">
                                <td colspan="4" style="width:100%;height:80px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="font-weight-bolder">لا يوجد نتائج مطابقة</span>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <Pagination v-if="data " :totalPages="data.links ? data.links.length : 0"
                                :total="data.total"
                                :currentPage="data.current_page"
                                :firstPageUrl="data.first_page_url"
                                :lastPageUrl="data.last_page_url"
                                :links="data.links"
                                :onPagechanged="pagechanged"
                                :from="data.from"
                                :to="data.to"
                                :onPerpagechanged="perpagechanged"
                                :currentLink="data.path"
                                />
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->"
         <vue-easy-lightbox
      escDisabled
      moveDisabled
      :visible="visible"
      :imgs="imgs"
      :index="index"
      @hide="handleHide"
    ></vue-easy-lightbox>"
    </div>
</template>

<style src="./transaction_out_table.scss" lang="scss"></style>
<script src="./transaction_out_table.component.js"></script>