<template>
<div class="container-fluid" dir="rtl">
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <UsersTable 
            :data="users_data" 
            v-on:get-data="getData"
            :refreshData="refreshData"
            @refreshed="refreshData=false"/>
        </div>
    </div>
</div>
</template>

<script src="./users_index.view.js"></script>