<template>
    <div class="kt-header__bottom">
        <div class="kt-container kt-container--fluid">
            <!-- begin: Header Menu -->
            <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                    class="la la-close"></i></button>
            <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                <div id="kt_header_menu"
                     class="kt-header-menu kt-header-menu-mobile kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right"
                     style="direction:rlt;">
                    <ul class="kt-menu__nav">
                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--active kt-menu__item--open"
                            data-ktmenu-submenu-toggle="click" aria-haspopup="true" v-if="user && user.role!='donor'">
                            <router-link :to="{name:'home'}" class="kt-menu__link "><span class="kt-menu__link-text">الرئيسية</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></router-link>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--active kt-menu__item--open"
                            data-ktmenu-submenu-toggle="click" aria-haspopup="true" v-if="user && user.role=='donor'">
                            <router-link :to="{name:'MaterialIndex'}" class="kt-menu__link "><span class="kt-menu__link-text">المواد</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></router-link>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--submenu"  v-if="user && user.role!='donor'">
                            <div class="kt-header__topbar-wrapper kt-menu__link kt-menu__toggle" data-toggle="dropdown"
                                 data-offset="10px,10px" aria-expanded="false">
                                <span class="kt-menu__link-text">حركات الوارد</span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl kt-menu__subnav">
                                <!--begin: Head -->
                                <li class="kt-menu__item " aria-haspopup="true" >
                                    <router-link :to="{name:'Income'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">جميع مذكرات الاستلام</span>
                                    </router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="javascript:;" @click="AddNewTransactionIn" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">إضافة مذكرة استلام جديدة</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--submenu"  v-if="user && user.role!='donor'">
                            <div class="kt-header__topbar-wrapper kt-menu__link kt-menu__toggle" data-toggle="dropdown"
                                 data-offset="10px,10px" aria-expanded="false">
                                <span class="kt-menu__link-text">حركات الصادر</span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl kt-menu__subnav">
                                <!--begin: Head -->
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'Outcome'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">جميع مذكرات التسليم</span>
                                    </router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="javascript:;" @click="AddNewTransactionOut" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">إضافة مذكرة تسليم جدبدة</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel  kt-menu__item--open"
                            data-ktmenu-submenu-toggle="click" aria-haspopup="true"  v-if="user && user.role!='donor'">
                            <router-link :to="{name:'MinimQuantityIndex'}" class="kt-menu__link "><span
                                    class="kt-menu__link-text">الحد الادنى</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></router-link>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel  kt-menu__item--open"
                            data-ktmenu-submenu-toggle="click" aria-haspopup="true"  v-if="user && user.role!='donor'">
                            <router-link :to="{name:'WarehouseReports'}" class="kt-menu__link "><span
                                    class="kt-menu__link-text">تقارير المستودع</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></router-link>
                        </li>

                        <li class="kt-menu__item kt-menu__item--rel  kt-menu__item--open"
                            data-ktmenu-submenu-toggle="click" aria-haspopup="true" v-if="user && user.role!='Admin' && user.role!='donor'"  >
                            <router-link to="/donor/warehouse_donors" class="kt-menu__link "><span
                                    class="kt-menu__link-text">بطاقات المادة</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></router-link>
                        </li>

                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--submenu"
                            v-if="user && user.role=='Admin'">
                            <div class="kt-header__topbar-wrapper kt-menu__link kt-menu__toggle" data-toggle="dropdown"
                                 data-offset="10px,10px" aria-expanded="false">
                                <span class="kt-menu__link-text">لوحة التحكم</span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl kt-menu__subnav">
                                <!--begin: Head -->
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'BranchesIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">الفروع</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'SubBranchesIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">الشعب و النقط</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'UnitsIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">الوحدات</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'SectorsIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">القطاعات</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'DonorsIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">الجهات المانحة</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'MaterialIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">المواد</span></router-link>
                                </li>

                            </ul>
                        </li>
                        <li class="kt-menu__item kt-menu__item--rel kt-menu__item--submenu"
                            v-if="user && user.role=='Admin'">
                            <div class="kt-header__topbar-wrapper kt-menu__link kt-menu__toggle" data-toggle="dropdown"
                                 data-offset="10px,10px" aria-expanded="false">
                             <span class="kt-menu__link-text">إدارة المسخدمين
                             </span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl kt-menu__subnav">
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'UsersIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">المستخدمين</span></router-link>
                                </li>
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <router-link :to="{name:'RolesIndex'}" class="kt-menu__link "><i
                                            class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                            class="kt-menu__link-text">الأدوار</span></router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./header-menu.component.js"></script>
<style lang="scss" src="./header-menu.scss"></style>