<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12">
                <TransactionOutForm v-on:show-detail-form="showDetailForm" />
        </div>
    </div>
    
    <div class="row pt-10 mb-10" v-show="showDetailsForm">
        <div class="col-12">
                <TransactionDetailsForm :transaction="transaction"
                                        :transaction_type="'App\\Models\\TransactionOut'"
                                        v-on:hide-detail-form="hideDetailForm"
                                        v-on:refresh-details="transactionSaved"
                                        id="detailsForm"
                                        />
        </div>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
                <TransactionDetailsTable 
                    v-on:show-detail-form="showDetailForm" 
                    :id="transactionId"
                    :type="'out'"
                    :refreshDetails="refreshDetails"
                    @refreshed="refreshDetails=false"/>
        </div>
    </div>
</div>
</template>

<script src="./transaction_out_addedit.view.js"></script>