.kt-head--skin-dark{
    background-color:$primary-color;
    .kt-head__title {
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        align-items: center;
    }
}

