<template>
  <!--begin: Notifications -->
  <div class="kt-header__topbar-item dropdown">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
      <span class="kt-header__topbar-icon " :class="notifications_count>0 ? 'kt-pulse kt-pulse--warning' : ''">
        <!--<i class="flaticon2-bell-alarm-symbol"></i>-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
          class="kt-svg-icon kt-svg-icon--warning"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"></rect>
            <path
              d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
              fill="#000000"
              opacity="0.3"
            ></path>
            <path
              d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
              fill="#000000"
            ></path>
          </g>
        </svg>
        <span class="kt-pulse__ring"></span>
      </span>
    </div>
    <div
      class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl"
      style="direction:rtl"
    >
      <form>
        <!--begin: Head -->
        <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style>
          <h3 class="kt-head__title">
            إشعارات&nbsp;
            <span
              class="btn btn-dark btn-sm btn-bold btn-font-md"
            >{{ notifications_count }}</span>
          </h3>
          <ul
            class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
            role="tablist"
          >
            <li class="nav-item" v-if="user && user.role=='Admin'">
              <a
                class="nav-link active show"
                data-toggle="tab"
                href="#topbar_notifications_notifications"
                role="tab"
                aria-selected="true"
              >طلب مواد</a>
            </li>
             <li class="nav-item mr-5">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#minimum_qunttities_notifications"
                role="tab"
                aria-selected="false"
              >الحد الادنى</a>
            </li>
           <li class="nav-item mr-5">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#pending_transactions"
                role="tab"
                aria-selected="false"
              >المناقلات</a>
            </li>
          </ul>
        </div>
        <!--end: Head -->
        <div class="tab-content">
          <div
            class="tab-pane active show"
            id="topbar_notifications_notifications"
            role="tabpanel"
            v-if="user && user.role=='Admin'"
           >
            <div
              class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll"
              data-scroll="true"
              data-height="300"
              data-mobile-height="200"
            >
              <MaterialRequestNotification/>
            </div>
          </div>
          <div class="tab-pane" id="minimum_qunttities_notifications" role="tabpanel">
            <div
              class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll"
              data-scroll="true"
              data-height="300"
              data-mobile-height="200"
            >
            <MinimumQuantityNotificiation/>
            </div>
          </div>
          <div class="tab-pane" id="pending_transactions" role="tabpanel">
            <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
             <div
              class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll w-100"
              data-scroll="true"
              data-height="300"
              data-mobile-height="200"
            >
                <PendingTransactionNotifications/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--end: Notifications -->
</template>

<script src="./header-notification.component.js"></script>
<style lang="scss" src="./header-notification.scss"></style>