<template >
<div class="w-100">
    <template v-if="minimum_quantity_notifications">
        <router-link :to="{name:'ViewMaterial',params:{'transaction_detail_id':item.inventory_item.id}}" class="kt-notification__item" v-for="item in minimum_quantity_notifications" :key="item.inventory_item.material_donor.id">
            <div class="kt-notification__item-icon ml-4">
                <div class="symbol symbol-10 symbol-lg-40 symbol-success">
                  <span
                    class="font-size-h5 symbol-label font-weight-boldest"
                  >{{ item.inventory_item.material_donor.donor.code }}</span>
                </div>
            </div>
            <div class="kt-notification__item-details">
                <div class="kt-notification__item-title">
                    <strong>
                        {{ item.inventory_item.material_donor.material.name.ar }} - {{ item.inventory_item.material_donor.material.name.en }} - مستودع {{ item.inventory_item.warehouse.name.ar }}
                    </strong>
                    </div>
                <div class="kt-notification__item-time">الحد الادنى : {{item.minimum_quantity}}</div>
                <div class="kt-notification__item-time">الكمية المتبقية : {{item.inventory_item.closing_balance}}</div>
            </div>
        </router-link>
    </template>
    
   <div v-else class="kt-grid__item kt-grid__item--middle kt-align-center">
    <br>لا يوجد إشعارات
  </div>
</div>
  
</template>

  
<script src="./minimum_quantity_notification.component.js"></script>
<style lang="scss" src="./minimum_quantity_notification.component.scss"></style>