<template>
    <div class="card card-custom">
        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">

                <h3 class="card-label" v-if="user && user.warehouse!=null">

                    المواد الموجودة في مستودع {{ user.warehouse.name.ar }}
                </h3>
                <h3 class="card-label" v-else-if="user && user.branchable!=null && user.role!='Admin'">
                    <template v-if="user.branchable_type=='App\\Models\\Branch'">المواد المتوفرة في مستودعات فرع
                        {{user.branchable.name.ar}}
                    </template>
                    <template v-else>المواد المتوفرة في مستودعات شعبة {{user.branchable.name.ar}}</template>
                </h3>

                <h3 class="card-label" v-else-if="user &&  user.role=='Admin'">
                    المواد المتوفرة في مستودعات المنطمة
                </h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline mr-2">
                    <button style="direction:ltr" type="button"
                            class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
						<span class="svg-icon svg-icon-md">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24"></rect>
										<path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                                              fill="#000000" opacity="0.3">
                                    </path>
									<path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                                          fill="#000000">
                                    </path>
								</g>
							</svg>
                            <!--end::Svg Icon-->
						</span>تصدير
                    </button>
                    <!--begin::Dropdown Menu-->
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi flex-column navi-hover py-2">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-print"></i>
										</span>
                                    <span class="navi-text">طباعة</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="javascript:;" @click="export_inventory('xlsx')" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-file-excel-o"></i>
										</span>
                                    <span class="navi-text">Excel</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="javascript:;" @click="export_inventory('pdf')" class="navi-link">
									    <span class="navi-icon">
										    <i class="la la-file-pdf-o"></i>
										</span>
                                    <span class="navi-text">PDF</span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                    <!--end::Dropdown Menu-->
                </div>
                <!--end::Dropdown-->
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
            <div class="kt-section">
                <div class="kt-section__content d-flex align-items-center">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-form-label col-12 font-weight-bolder">من/ إلى</label>
                            <div class="col-12">
                                <div class="input-group" id="kt_daterangepicker_2">
                                    <input type="text" @click="initailizeDateRangePicker()" class="form-control"
                                           placeholder="حدد التاريخ" v-model="date_range">
                                    <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                    </span>
                                    </div>
                                </div>
                                <label class="col-form-label col-12 font-weight-bolder">بحث</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="يحث"
                                           v-model="keyword">
                                    <div class="input-group-append">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right d-flex justify-content-between">
                        <button
                                @click="search()"
                                type="submit"
                                class="btn btn-pill btn-success opacity-90  py-3 font-weight-bolder"
                                :class="loading ? 'spinner spinner-white spinner-left':''"
                        >
                            <i class="flaticon-search"></i>
                            بحث
                        </button>
                    </div>
                </div>
            </div>
            <div class="kt-section">
                <div class="kt-section__content  datatable datatable-default">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                        <tr>
                            <th class="">
                                <span>الجهة المانحة</span>
                                <div class="font-weight-bold text-muted">Partner</div>
                            </th>
                            <th class="" v-if="user && user.role == 'Admin'">
                                <span>الفرع</span>
                                <div class="font-weight-bold text-muted">Branch</div>
                            </th>
                            <th class="">
                                <span>المادة \ المستودع</span>
                                <div class="font-weight-bold text-muted">Item / Warehouse</div>
                            </th>
                            <th class="">
                                <span>الرصيد الافتتاحي</span>
                                <div class="font-weight-bold text-muted">Opening Balance</div>
                            </th>
                            <th class="">
                                <span>الوارد</span>
                                <div class="font-weight-bold text-muted">Total In</div>
                            </th>
                            <th class="">
                                <span>الصادر</span>
                                <div class="font-weight-bold text-muted">Total Out</div>
                            </th>
                            <th class="">
                                <span>الرصيد المتبقي</span>
                                <div class="font-weight-bold text-muted">Closing Balance</div>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                        <tr style="background:#fff;" v-if="loading">
                            <td colspan="4" style="width:100%;height:200px;">
                                <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                    <span class="spinner spinner-danger spinner-left"></span>
                                </div>
                            </td>
                        </tr>
                        <tr v-else v-for="item in inventory_data.data" :key="item.transaction.id">
                            <td data-field="DONORCODE" class="datatable-cell">
                                    <span style="width: 250px;">
                                        <div class="d-flex align-items-center">
                                            <div style="padding-left:10px;"
                                                 class="symbol symbol-50 symbol-circle symbol-sm symbol-light-danger">
                                                <span class="symbol-label font-size-p" style="font-weight:bolder">{{item.transaction.material_donor.donor.code}}</span>								
                                            </div>								
                                            <div class="ml-3">									
                                                <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">{{item.transaction.material_donor.donor.name.ar}}</div>	
                                                <a href="#" class="text-muted font-weight-bold text-hover-primary">{{item.transaction.material_donor.donor.name.en}}</a>								
                                            </div>							
                                        </div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" v-if="user && user.role == 'Admin'">
                                <div>
                                    <span class="font-weight-bolder">{{item.transaction.warehouse.branchable.name.ar}}</span>
                                </div>
                                <div class="font-weight-bold text-muted">
                                    <span>{{item.transaction.warehouse.branchable.name.en}}</span>
                                </div>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" data-field="Material">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">
                                            <span>{{item.transaction.material_donor.material.name.ar}}</span>
                                          
                                        </div>
                                        <div class="font-weight-bold text-muted">
                                            <span>{{item.transaction.material_donor.material.name.en}}</span>
                                              <span> - </span>
                                            <span>{{item.transaction.warehouse.name.ar}}</span>
                                        </div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" style="min-width:150px"
                                data-field="opening Balance">
                                    <span>
                                        <span class="font-weight-bolder">{{item.opening_balance}}</span>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" style="min-width:150px"
                                data-field="opening Balance">
                                    <span>
                                        <span class="font-weight-bolder">{{item.total_in}}</span>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" style="min-width:150px"
                                data-field="opening Balance">
                                    <span>
                                        <span class="font-weight-bolder">{{item.total_out}}</span>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" style="min-width:150px"
                                data-field="Closing Balance">
                                    <span>
                                        <span class="font-weight-bolder">{{item.closing_balance}}</span>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell" style="min-width:100px"
                                data-field="Closing Balance">
                                    <span class="table-cell-controls">
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                                                    class="flaticon-more-1"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <router-link class="dropdown-item show-archive-mdoal"
                                                             :to="{name:'ViewMaterial',params:{'transaction_detail_id':item.transaction.id}}"
                                                             title="View">عرض المادة</router-link>
                                            </div>
                                        </div>
                                    </span>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <Pagination v-if="inventory_data"
                                :totalPages="inventory_data.links ? inventory_data.links.length : 0"
                                :total="inventory_data.total"
                                :currentPage="inventory_data.current_page"
                                :firstPageUrl="inventory_data.first_page_url"
                                :lastPageUrl="inventory_data.last_page_url"
                                :links="inventory_data.links"
                                :onPagechanged="pagechanged"
                                :from="inventory_data.from"
                                :to="inventory_data.to"
                                :onPerpagechanged="perpagechanged"
                                :currentLink="inventory_data.path"
                    />
                </div>

            </div>

        </div>
        <!--end::Body-->
    </div>
</template>

<style lang="scss" src="./material_inventory_table.scss"></style>
<script src="./material_inventory_table.component.js"></script>