<template>
   <div class="card card-custom" data-card="true" id="kt_card_1">
		<div class="card-header">
			<div class="card-title">
			    <h3 class="card-label">مذكرة تسليم</h3>
			</div>
			<div class="card-toolbar">
					<a href="#" v-if="loading"  class="kt-input-icon__icon btn btn-icon btn-sm btn-hover-light-primary mr-1">
                        <i  class="spinner spinner-warning spinner-left"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
					    <i class="flaticon2-down icon-nm"></i>
					</a>
                   
			</div>
		</div>
		<div class="card-body">
            <form v-on:submit.prevent="store(transaction)">
                
            <div class="form-row" style="display:flex;align-items:center;" v-if="transaction">
                <input type="hidden" v-model="transaction.id">
                <input type="hidden" v-model="transaction.warehouse_id">
                <div class="form-group" style="display:flex;flex-direction:column;width:10%;">
                    <label class="col-form-label font-weight-bolder col-12">صورة المذكرة</label>
                    <div class="image-input image-input-outline" id="kt_image_1">
                        <div class="image-input-wrapper"  v-if="transaction"  v-bind:style='{ backgroundImage: "url(" + transaction.src + ")", }'></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change image">
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" @change="onImageChange" :src="transaction.src" name="profile_avatar" accept=".png, .jpg, .jpeg"/>
                        <input type="hidden" name="profile_avatar_remove"/>
                        </label>

                        <span @click="removeImage()" v-if="transaction.src" style="display:block;" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="remove image">
                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                </div>
                <div class="from-group row" style="width:90%;">
                    <div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">رقم المذكرة</label>
							<div class="col-12 loader-input">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                          @change="checkWaybill"
                                        v-model="$v.transaction.waybill_no.$model"
                                        :class="$v.transaction.waybill_no.$invalid ? 'is-invalid':''"
									    :invalid="$v.transaction.waybill_no.$invalid" 
                                        />
                                       <span v-if="!$v.transaction.waybill_no.$invalid"  class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span v-if="check_waybill_loader" class="spinner spinner-danger spinner-left" style="position:absolute;left:-10px;top:17px;"></span>
                                            <span v-else-if="chek_waybill_messgae!='' && waybill_valid==false" class="text-warning flaticon2-warning icon-xl"></span>
                                            <span v-else-if="chek_waybill_messgae!='' && waybill_valid==true" class="text-success  flaticon2-check-mark icon-xl"></span>
                                        </span>
                                        <div class="fv-plugins-message-container">
										    <div v-for="error in $v.transaction.waybill_no.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
										    <div v-if="chek_waybill_messgae!=''  && !waybill_valid" class="fv-help-block" style="color:#FFA800 !important;text-align:right">{{chek_waybill_messgae}}</div>
										    <div v-if="chek_waybill_messgae!='' && waybill_valid" class="fv-help-block" style="color:#1BC5BD !important;text-align:right">{{chek_waybill_messgae}}</div>
									    </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">تاريخ تسليم المذكرة</label>
							<div class="col-12">
                               <input type="hidden" id="date" v-model="transaction.date">
                                <div class="input-group date">
                             
                                <input type="text"
                                       class="form-control form-control-lg" 
                                       :disabled="loading"  
                                       placeholder="Select date"
                                       v-model="$v.transaction.date.$model"
                                        :class="$v.transaction.date.$invalid ? 'is-invalid':''"
									    :invalid="$v.transaction.date.$invalid" 
                                       id="kt_datepicker_1"/>
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                                </div>
                               
                                </div>
                        	<div class="fv-plugins-message-container">
									<div v-for="error in $v.transaction.date.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
							</div>
                            </div>
						</div>
					</div>
                    <div class="col-md-6 col-sm-6">
                        <DonorsSelect @donor="donorChagned" :dataRef="'OutDonorSelect'" :label="'الجهة المانحة'" :selected="$v.transaction.donor_id.$model" :validator="$v.transaction.donor_id.$model" ></DonorsSelect>
                    </div>
                    <div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">الوزن</label>
							<div class="col-12 loader-input" >
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction.weight"
                                        />
                                       
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-sm-12">
                         <div class="form-group">
                            <label class="col-form-label col-12 font-weight-bolder">صادر إلى</label>
                            <div class="col-12 col-form-label">
                                <div class="radio-inline">
                                    <label class="radio radio-success">
                                        <input  value="App\Models\DistributionPoint" 
                                                :checked="transaction && transaction.toable=='App\\Models\\DistributionPoint'" 
                                                type="radio"
                                                name="toable_type"
                                                :disabled="loading"
                                                v-model="$v.transaction.toable_type.$model"
                                                :class="$v.transaction.toable_type.$invalid ? 'is-invalid':''"
									            :invalid="$v.transaction.toable_type.$invalid" 
                                                />
                                        <span></span>
                                        نقطة توزيع
                                    </label>
                                    <label class="radio radio-success">
                                        <input  value="App\Models\Warehouse" 
                                                :checked="transaction && transaction.fromable_type=='App\\Models\\Warehouse'" 
                                                type="radio" 
                                                name="toable_type"  
                                                :disabled="loading"
                                                v-model="$v.transaction.toable_type.$model"
                                                :class="$v.transaction.toable_type.$invalid ? 'is-invalid':''"
									            :invalid="$v.transaction.toable_type.$invalid" 
                                                
                                                />
                                        <span></span>
                                        مستودع
                                    </label>
                                </div>
                                <div class="fv-plugins-message-container">
									<div v-for="error in $v.transaction.date.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
							    </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12" v-if="transaction && transaction.toable_type=='App\\Models\\DistributionPoint'">
                        		<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-if="transaction.toable!=null"
                                        v-model="transaction.toable.name"
                                        />
                                                            
                                        <input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-else
                                        v-model="transaction.distribution"
                                    
                                        />
                                       <div class="fv-plugins-message-container">
                                            <div v-if="transaction.toable == null && transaction.distribution==null && transaction.toable_type=='App\\Models\\DistributionPoint'"  class="fv-help-block">
                                                please enter ditribution point
                                            </div>
                                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12" v-else-if="transaction && transaction.toable_type=='App\\Models\\Warehouse'">
                        <AllWarehousesSelect @warehouse="warehouseChanged" :selected="transaction.toable_id"></AllWarehousesSelect>
                        <div class="fv-plugins-message-container">
						    <div v-if="transaction.toable_id==null && transaction.toable_type=='App\\Models\\Warehouse'"  class="fv-help-block">
                                please select warehouse        
                            </div>
						</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
				    <button 
                    :disabled="loading ||
                               $v.$invalid || 
                               (warehouseNotSelected && transaction.toable_type=='App\\Models\\Warehouse') || 
                               (transaction.toable == null && transaction.distribution==null && transaction.toable_type=='App\\Models\\DistributionPoint')"
					:class="loading_store ? 'spinner spinner-white spinner-left':''"
					type="submit" class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder " >
						حفظ
					</button>
                     <button 
                        :disabled="loading"
						type="button" 
                        class="btn btn-pill btn-danger opacity-90 px-15 py-3 font-weight-bolder mr-5"
                        @click="resetTransactionOutForm" >
                        تهيئة
					</button>
                    <button 
                        :disabled="loading"
						type="button" 
                        class="btn btn-pill btn-dark opacity-90 px-15 py-3 font-weight-bolder mr-5"
                        @click="showDetailsForm" >
                        إضافة تفاصيل
					</button>
                    
				</div>
            </div>
            </div>
            </form>
		</div>
        
	</div>
</template>

<style src="./transaction_out_form.scss"  lang="scss"></style>

<script src="./transaction_out_form.component.js"></script>