.radio-inline {
    .radio {
        margin-left: 1rem;
        margin-right: 0rem;
        margin-bottom: 0.35rem;

        span {
            margin-left: 0.75rem;
        }
    }
    
}


.loader-input{
    position: relative;

    .kt-input-icon__icon{
        position: absolute;
        left: 20px;
        top: 2px
    }
}
