<template>
   <div class="card card-custom" data-card="true" id="kt_card_2">
		<div class="card-header">
			<div class="card-title">
			    <h3 class="card-label" v-if="transaction_detail.id==null">اضافة مادة</h3>
			    <h3 class="card-label" v-else>تعديل مادة</h3>
			</div>
			<div class="card-toolbar">
					<a href="#" v-if="loading"  class="kt-input-icon__icon btn btn-icon btn-sm btn-hover-light-primary mr-1">
                        <i  class="spinner spinner-warning spinner-left"></i>
                    </a>
                    <a href="#" @click="hideDetailsForm" class="btn btn-icon btn-sm btn-hover-light-primary" data-card-tool="remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove Card">
														<i class="ki ki-close icon-nm"></i>
					</a>
                    <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
					    <i class="flaticon2-down icon-nm"></i>
					</a>
                   
                   
			</div>
		</div>
		<div class="card-body">
            <form v-on:submit.prevent="storeDetail(transaction_detail)">
            <div class="form-row" style="display:flex;align-items:center;">
                <input type="hidden" v-model="transaction_detail.id">
                <input type="hidden" v-model="transaction_detail.transactionable_id">
                <input type="hidden" v-model="transaction_detail.transactionable_type">
                <div class="from-group row" style="width:100%;">
                   <div class="col-md-4 col-sm-12" >
                        <DonorsSelect 
                            @donor="donorChagned" 
                            :disabled="transaction.fromable_type=='App\\Models\\Donor' ? true:transaction.donor_id ? true:false" 
                            :dataRef="'DetailsSelect'" 
                            :selected="transaction_detail.material_donor !=null ? transaction_detail.material_donor.donor_id : transaction.donor_id ? transaction.donor_id : transaction.fromable_id" ></DonorsSelect>
                    </div>
                  
                    <div class="col-md-4 col-sm-12" >
                        <DonorMaterialsSelect 
                            @material="donorMaterialChagned" 
                            :addMaterialEnabled="true"
                            :donor_id="transaction_detail.material_donor !=null ? transaction_detail.material_donor.donor_id : transaction.donor_id ? transaction.donor_id : transaction.fromable_id "
                            :selected="transaction_detail.donor_material_id"
                            :invalideClass="$v.transaction_detail.donor_material_id.$invalid ? 'is-invalid':''"
							:invalid="$v.transaction_detail.donor_material_id.$invalid" 
                            :validationErrors="$v.transaction_detail.donor_material_id.$errors"
                            ></DonorMaterialsSelect>
                    </div>
                      <div v-if="transaction_type=='App\\Models\\TransactionIn'"  class="col-md-1 d-flex text-center align-items-center justify-content-start mt-3">
                        	<button type="button" style="padding:0.40rem 0.8rem"  data-toggle="modal" data-target="#MaterialModal" class="btn btn-xs btn-outline-danger" title="اضافة مادة جديدة">
                                <span class="flaticon2-plus" style="font-size:1rem;"></span>
                            </button>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <UnitSelect  
                            :disabled="transaction_detail.material_donor!=null ? true: (donor_material!=null && donor_material.unit_id!=null) ? true:false" 
                            :donor_material_id="transaction_detail.material_donor!=null ? transaction_detail.donor_material_id : donor_material ? donor_material.id:null" 
                            :selected="transaction_detail.material_donor!=null ? transaction_detail.material_donor.unit_id: donor_material? donor_material.unit_id : null"
                            :dataRef="'unit-select'"
                            ></UnitSelect>
                    </div>
                    <div class="col-md-4 col-sm-12" >
                        <CtnSelect 
                            @ctn="ctnChanged" 
                            :donor_material="donor_material!=null ? donor_material:null " 
                            :selected="transaction_detail.ctn_id"
                            ></CtnSelect>
                    </div>
                    <div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">تاريخ انتهاء الصلاحية</label>
							<div class="col-12">
                               <input type="hidden" id="expiration_date" v-model="transaction_detail.expiration_date">
                                <div class="input-group date">
                             
                                <input type="text"
                                       class="form-control form-control-lg" 
                                       :disabled="loading"  
                                       placeholder="Select date"
                                       id="kt_datepicker_2"
                                       v-model="$v.transaction_detail.expiration_date.$model"
                                       :class="$v.transaction_detail.expiration_date.$invalid ? 'is-invalid':''"
									   :invalid="$v.transaction_detail.expiration_date.$invalid"/>
                                    
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                                </div>
                                </div>
                                    <div class="fv-plugins-message-container text-right">
										    <div v-for="error in $v.transaction_detail.expiration_date.$errors" :key="error.$property" data-field="expirationDate" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
									    </div>
                        	</div>
						</div>
					</div>
                     <div class="col-md-4 col-sm-12" >
                         <div class="form-group row" style="display:flex;height:100%;">
                            <label class="col-form-label col-3 font-weight-bolder" style="height:auto;display:flex;align-items:center" >قافلة</label>
                            <span class="switch switch-outline switch-icon switch-primary">
                                        <label>
                                        <input type="checkbox" :checked="transaction_detail.is_convoy" v-model="transaction_detail.is_convoy" name="select"/>
                                        <span></span>
                                        </label>
                                </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">الكمية</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                         v-model="$v.transaction_detail.quantity.$model"
                                        :class="$v.transaction_detail.quantity.$invalid ? 'is-invalid':''"
									    :invalid="$v.transaction_detail.quantity.$invalid"  />
                                        <div class="fv-plugins-message-container">
										    <div v-for="error in $v.transaction_detail.quantity.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
									    </div>
							</div>
                            
						</div>
					</div>
                     <div class="col-md-2 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">الفاقد</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction_detail.loss" />
							</div>
						</div>
					</div>
                     <div class="col-md-2 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">سبب الفاقد</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction_detail.reason_for_loss" />
							</div>
						</div>
					</div>
                     <div class="col-md-2 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">التالف</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction_detail.damage" />
							</div>
						</div>
					</div>
                    
                     <div class="col-md-2 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">سبب التالف</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction_detail.reason_for_damage" />
							</div>
						</div>
					</div>
                     <div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label class="col-form-label col-12 font-weight-bolder">الملاحظات</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="transaction_detail.notes" />
							</div>
						</div>
					</div>
                   
                    
                    
                </div>
            </div>
            <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
				    <button 
                    :disabled="loading || $v.transaction_detail.$anyError"
					:class="loading_store ? 'spinner spinner-white spinner-left':''"
					type="submit" class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder " >
						حفظ
					</button>
				</div>
            </div>
            </div>
            </form>
		</div>
	</div>
</template>

<style src="./transaction_details_form.scss"  lang="scss"></style>

<script src="./transaction_details_form.component.js"></script>