<template>
<div class="datatable-pager datatable-paging-loaded">
    <ul class="datatable-pager-nav my-2 mb-sm-0" style="flex-direction:row-reverse">
        <li>
            <a  title="First"
                class="datatable-pager-link datatable-pager-link-first " 
                :class="isInFirstPage ?'datatable-pager-link-disabled':''"
                data-page="1" 
                :disabled="isInFirstPage"
                @click="onClickPage(firstPageUrl)">
                <i class="flaticon2-fast-back"></i>
            </a>
        </li>
        
        <li style="display: none;"><input type="text" class="datatable-pager-input form-control" title="Page number"></li>
        <li v-for="page in links" :key="page.label">
            <template  v-if="page.label!='Previous' && page.label!='Next'">
                  <a  class="datatable-pager-link datatable-pager-link-number" 
                    :class="{ 'datatable-pager-link-active': isPageActive(page.label) }"
                    :data-page="page.label"
                    :title="page.label"
                    @click="onClickPage(page.url)"
                    :disabled="isPageActive(page.label)">
                    {{ page.label }}
                </a>
            </template>
            <template v-else-if="page.label=='Next'">
                      <a  title="Next" 
                        class="datatable-pager-link datatable-pager-link-next" 
                        data-page="2" 
                        @click="onClickPage(page.url)"
                        :disabled="isInLastPage">
                        <i class="flaticon2-next"></i>
                    </a>
            </template>
                   <template v-else-if="page.label=='Previous'">
                     <a title="Previous" 
                        class="datatable-pager-link datatable-pager-link-prev" 
                        :class="isInFirstPage ?'datatable-pager-link-disabled':''"
                        data-page="1" 
                        @click="onClickPage(page.url)"
                        :disabled="isInFirstPage">
                        <i class="flaticon2-back"></i>
                    </a>
                </template>
        </li>
                           
        <li>
            <a title="Last" 
                class="datatable-pager-link datatable-pager-link-last" 
                :data-page="totalPages"
                @click="onClickPage(lastPageUrl)"
                :disabled="isInLastPage">
                <i class="flaticon2-fast-next"></i>
            </a>
        </li>
    </ul>
                    <div class="datatable-pager-info my-2 mb-sm-0" style="direction:ltr">
                        <div class="dropdown bootstrap-select datatable-pager-size" style="width: 60px;">
                            <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" title="Select page size">
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <div class="filter-option-inner-inner">10</div>
                                    </div> 
                                </div>
                            </button>
                            <div class="dropdown-menu ">
                                <div class="inner show" role="listbox" id="bs-select-3" tabindex="-1">
                                    <ul class="dropdown-menu inner show" role="presentation">
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(10)" ><span class="text">10</span></a></li>
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(20)" ><span class="text">20</span></a></li>
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(30)" ><span class="text">30</span></a></li>
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(40)" ><span class="text">40</span></a></li>
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(50)" ><span class="text">50</span></a></li>
                                      <li><a role="option" class="dropdown-item" id="bs-select-3-0" tabindex="0" aria-setsize="6" aria-posinset="1" @click="perPageChanges(100)" ><span class="text">100</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <span class="datatable-pager-detail">Showing {{ from }} - {{ to }} of {{ total }}</span>
                    </div>
</div>
</template>

<style src="./pagination.component.scss" lang="scss"></style>
<script src="./pagination.component.js"></script>