<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <TotalMaterialsCount/>
        <TotalInCount/>
        <TotalOutCount/>
    </div>
    <div class="row mb-10">
        <div class="col-12">
            <MaterialInventoryTable/>
        </div>
    </div>


</div>
</template>

<script src="./home.view.js"></script>