<template>
  <div class="card card-custom">
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content">
                  	<form v-on:submit.prevent="search()">
					  <div class="row" dir="rtl">
						  <div class="col-md-6 col-sm-12">
							  <AllWarehousesSelect @warehouse="warehouse"></AllWarehousesSelect>
						  </div>
						  <div class="col-md-6 col-sm-12">
							   <DonorsSelect @donor="donor"  :dataRef="'InFilterSelect'" ></DonorsSelect>
						  </div>
						  <div class="col-md-6 col-sm-12">
							   <div class="form-group">
									<label class="col-form-label col-12 font-weight-bolder">رقم المذكرة</label>
									<div class="col-12">
										<input class="form-control" id="grn" type="text" dir="rtl" placeholder="اكتب رقم المذكرة الذي تريد البحث عنه"  v-model="filters.waybill_no"/>
     
									</div>
								</div>
						  </div>
						   <div class="col-md-6 col-sm-12">
							   <div class="form-group">
									<label class="col-form-label col-12 font-weight-bolder">من/ إلى</label>
									<div class="col-12">
										<div class='input-group' id='kt_daterangepicker_2'>
											<input type='text' class="form-control"   placeholder="حدد التاريخ" v-model="date_range"/>
											<div class="input-group-append">
												<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
											</div>
											
										</div>
									</div>
								</div>
						  </div>
						    <div class="col-md-6 col-sm-12">
							   <div class="form-group">
									<label class="col-form-label col-12 font-weight-bolder">رقم الويبل</label>
									<div class="col-12">
										<input class="form-control" id="waybil" type="text" dir="rtl" placeholder="اكتب رقم الويبل الذي تريد البحث عنه"  v-model="filters.donor_waybill_no"/>
     
									</div>
								</div>
						  </div>
						  <div class="col-md-12 text-right">
							<button 
									@click="search()"
									type="submit" class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder " >
									<i class="flaticon-search"></i>
									بحث
							</button>
						  </div>
					  </div>
					</form>
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
	</div>
</template>

<style src="./transaction_in_filters.scss" lang="scss"></style>
<script src="./transaction_in_filters.component.js"></script>