.input-group-append .input-group-text{
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.input-group{
    .form-control{
        border-top-right-radius:  0.42rem;
        border-bottom-right-radius:  0.42rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
}

.form-group{
    .col-form-label{
        text-align: right !important;
    }
}

