<template>
   <div class="card card-custom">
       
		<!--begin::Header-->
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label">الوحدات \ Units
				</h3>
			</div>
			<div class="card-toolbar">
				<!--begin::Add Button-->
				<div class="dropdown dropdown-inline mr-2">
                    <button
                     style="direction:ltr" type="button" data-target="#UnitsModal" data-toggle="modal" class="ml-5 btn btn-light-success font-weight-bolder" aria-haspopup="true" >
						<span class="svg-icon svg-icon-md svg-icon-success "><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-09-29-132851/theme/html/demo2/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
                            </g>
                        </svg>
							<!--end::Svg Icon-->
						</span>إضافة
                    </button>
				</div>
				<!--end::Add Button-->
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content datatable datatable-default">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                            <tr>
                                <th class="">
                                    <span>الرمز</span>
                                    <div class="font-weight-bold text-muted">Code</div>
                                </th>
                                 <th class="">
                                    <span>الاسم (العربي)</span>
                                    <div class="font-weight-bold text-muted">Name AR</div>
                                </th>
                                <th class="">
                                    <span>الاسم (الانكليزي) </span>
                                    <div class="font-weight-bold text-muted">Name EN</div>
                                </th>
                                <th>.</th>
                            </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                            <tr style="background:#fff;" v-if="loading">
                                <td colspan="4" style="width:100%;height:200px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="spinner spinner-danger spinner-left"></span>
                                    </div>
                                </td>
                            </tr>
                                 <tr v-else v-for="item in data" :key="item.id"> 
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.code}}</div>
                                    </span>
                                </td>
                                  <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.name.ar}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.name.en}}</div>
                                    </span>
                                </td>
                                <td class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                                    <a class="kt-nav__link"  href="javascript:;"  @click="editItem(item)" data-toggle="modal" data-target="#UnitsModal"><i class="kt-nav__link-icon color-primary flaticon-edit-1 "></i></a>
                                    <a class="kt-nav__link ml-4" href="javascript:;" @click="deleteItem(item)"><i class="kt-nav__link-icon flaticon2-trash "></i></a>
                                </td>
                               
                                
                            </tr>
                             <tr style="background:#fff;" v-if="data!=null && data.length == 0">
                                <td colspan="4" style="width:100%;height:80px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="font-weight-bolder">لا يوجد نتائج مطابقة</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
    </div>
</template>
<style src="./units_table.component.scss"  lang="scss"></style>

<script src="./units_table.component.js"></script>