<template>
  <div class="card card-custom" data-card="true" id="kt_card_1">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">مذكرة استلام</h3>
      </div>
      <div class="card-toolbar">
        <div class="dropdown dropdown-inline mr-2">
          <button
            v-if="isTransferIn"
            @click="$emit('confirmed')"
            style="direction:ltr"
            type="button"
            class="ml-5 btn btn-success font-weight-bolder"
            aria-haspopup="true"
          >
          
            <span class="svg-icon svg-icon-md ">
              <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo2/dist/../src/media/svg/icons/Navigation/Check.svg-->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24"></polygon>
                  <path
                    d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                    fill="#000000"
                    fill-rule="nonzero"
                    transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "
                  ></path>
                </g>
              </svg>
              <!--end::Svg Icon-->
            </span>
            التأكيد و الحفظ
          </button>
        </div>
        <a
          href="#"
          v-if="loading"
          class="kt-input-icon__icon btn btn-icon btn-sm btn-hover-light-primary mr-1"
        >
          <i class="spinner spinner-warning spinner-ذ"></i>
        </a>
        <a
          href="#"
          class="btn btn-icon btn-sm btn-hover-light-primary mr-1"
          data-card-tool="toggle"
          data-toggle="tooltip"
          data-placement="top"
          title
          data-original-title="Toggle Card"
        >
          <i class="flaticon2-down icon-nm"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <form v-on:submit.prevent="store(transaction)" ref="InForm">
        <div class="form-row" style="display:flex;align-items:center;">
          <input type="hidden" v-model="transaction.id">
          <input type="hidden" v-model="transaction.warehouse_id">
          <div class="form-group" style="display:flex;flex-direction:column;width:10%;">
            <label class="col-form-label font-weight-bolder col-12">صورة المذكرة</label>
            <div class="image-input image-input-outline" id="kt_image_1">
              <div
                class="image-input-wrapper"
                v-if="transaction"
                :style="{ backgroundImage: 'url(' + transaction.src + ')', }"
              ></div>
              <label
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="change"
                data-toggle="tooltip"
                title
                data-original-title="Change image"
              >
                <i class="fa fa-pen icon-sm text-muted"></i>
                <input
                  type="file"
                  @change="onImageChange"
                  :src="transaction.src"
                  name="profile_avatar"
                  accept=".png, .jpg, .jpeg"
                >
                <input type="hidden" name="profile_avatar_remove">
              </label>

              <span
                @click="removeImage()"
                v-if="transaction.src"
                style="display:block;"
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="cancel"
                data-toggle="tooltip"
                title="remove image"
              >
                <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
            </div>
          </div>
          <div class="from-group row" style="width:90%;">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">
                  رقم المذكرة
                  <span class="required">*</span>
                </label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    @change="checkWaybill"
                    v-model="$v.transaction.waybill_no.$model"
                    :class="$v.transaction.waybill_no.$invalid ? 'is-invalid':''"
                    :invalid="$v.transaction.waybill_no.$invalid"
                  >
                  <span
                    v-if="!$v.transaction.waybill_no.$invalid"
                    class="kt-input-icon__icon kt-input-icon__icon--left"
                  >
                    <span
                      v-if="check_waybill_loader"
                      class="spinner spinner-danger spinner-left"
                      style="position:absolute;left:-10px;top:17px;"
                    ></span>
                    <span
                      v-else-if="chek_waybill_messgae!='' && waybill_valid==false"
                      class="text-warning flaticon2-warning icon-xl"
                    ></span>
                    <span
                      v-else-if="chek_waybill_messgae!='' && waybill_valid==true"
                      class="text-success flaticon2-check-mark icon-xl"
                    ></span>
                  </span>
                  <div class="fv-plugins-message-container">
                    <div
                      v-for="error in $v.transaction.waybill_no.$errors"
                      :key="error.$property"
                      data-field="username"
                      data-validator="notEmpty"
                      class="fv-help-block"
                    >{{error.$message}}</div>
                    <div
                      v-if="chek_waybill_messgae!=''  && !waybill_valid"
                      class="fv-help-block"
                      style="color:#FFA800 !important;text-align:right"
                    >{{chek_waybill_messgae}}</div>
                    <div
                      v-if="chek_waybill_messgae!='' && waybill_valid"
                      class="fv-help-block"
                      style="color:#1BC5BD !important;text-align:right"
                    >{{chek_waybill_messgae}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">
                  تاريخ استلام المذكرة
                  <span class="required">*</span>
                </label>
                <div class="col-12">
                  <input type="hidden" id="date" v-model="transaction.date">
                  <div class="input-group date">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      :disabled="loading"
                      placeholder="Select date"
                      v-model="$v.transaction.date.$model"
                      :class="$v.transaction.date.$invalid ? 'is-invalid':''"
                      :invalid="$v.transaction.date.$invalid"
                      id="kt_datepicker_1"
                    >

                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                      </span>
                    </div>
                  </div>
                  <div class="fv-plugins-message-container">
                    <div
                      v-for="error in $v.transaction.date.$errors"
                      :key="error.$property"
                      data-field="username"
                      data-validator="notEmpty"
                      class="fv-help-block"
                    >{{error.$message}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">اسم السائق</label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="transaction.driver_name"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">رقم هوية السائق</label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="transaction.driver_national_id"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">رقم الويبل</label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="transaction.donor_waybill_no"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">اسم الشركة الناقلة</label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="transaction.transportation_company_name"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">الوزن</label>
                <div class="col-12 loader-input">
                  <input
                    class="form-control form-control-lg"
                    :disabled="loading"
                    type="text"
                    dir="rtl"
                    placeholder
                    v-model="transaction.weight"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-12 font-weight-bolder">وارد من</label>
                <div class="col-12 col-form-label">
                  <div class="radio-inline">
                    <label class="radio radio-success">
                      <input
                        value="App\Models\Donor"
                        :checked="transaction && transaction.fromable_type=='App\\Models\\Donor'"
                        type="radio"
                        name="fromable_type"
                        :disabled="loading || isTransferIn"
                        v-model="$v.transaction.fromable_type.$model"
                        :class="$v.transaction.fromable_type.$invalid ? 'is-invalid':''"
                        :invalid="$v.transaction.fromable_type.$invalid"
                      >
                      <span></span>
                      جهة مانحة
                    </label>
                    <label class="radio radio-success">
                      <input
                        value="App\Models\Warehouse"
                        :checked="transaction && transaction.fromable_type=='App\\Models\\Warehouse'"
                        type="radio"
                        name="fromable_type"
                        :disabled="loading || isTransferIn"
                        v-model="$v.transaction.fromable_type.$model"
                        :class="$v.transaction.fromable_type.$invalid ? 'is-invalid':''"
                        :invalid="$v.transaction.fromable_type.$invalid"
                      >
                      <span></span>
                      مستودع
                    </label>
                  </div>
                  <div class="fv-plugins-message-container">
                    <div
                      v-for="error in $v.transaction.date.$errors"
                      :key="error.$property"
                      data-field="username"
                      data-validator="notEmpty"
                      class="fv-help-block"
                    >{{error.$message}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-sm-12"
              v-if="transaction && transaction.fromable_type=='App\\Models\\Donor'"
            >
              <DonorsSelect
                @donor="donorChagned"
                :dataRef="'InFormSelect'"
                :selected="transaction.fromable_id"
                :validator="$v.transaction.fromable_id"
              ></DonorsSelect>
            </div>
            <div
              class="col-md-6 col-sm-12"
              v-else-if="transaction && transaction.fromable_type=='App\\Models\\Warehouse'"
            >
              <AllWarehousesSelect
                @warehouse="warehouseChanged"
                :selected="transaction.fromable_id"
                :disabled="isTransferIn"
              ></AllWarehousesSelect>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-12 text-right">
              <button
              v-if="!isTransferIn"
                :disabled="loading || $v.$invalid"
                :class="loading_store ? 'spinner spinner-white spinner-left':''"
                type="submit"
                class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder"
              >حفظ</button>
              <button
                v-if="!isTransferIn"
                :disabled="loading"
                type="button"
                class="btn btn-pill btn-danger opacity-90 px-15 py-3 font-weight-bolder mr-5"
                @click="resetTransactionInForm"
              >تهيئة</button>
              <button
                v-if="!isTransferIn"
                :disabled="loading"
                type="button"
                class="btn btn-pill btn-dark opacity-90 px-15 py-3 font-weight-bolder mr-5"
                @click="showDetailsForm"
              >إضافة تفاصيل</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<style src="./transaction_in_form.scss"  lang="scss"></style>

<script src="./transaction_in_form.component.js"></script>