<template>
   <div class="card card-custom">
		<!--begin::Header-->
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label">تفاصيل الحركة
                    <div class="font-weight-bold text-muted text-right" v-if="data && data.length>0">{{data[0].transactionable.waybill_no}}</div>
                    <div class="font-weight-bold text-muted text-right" v-if="data && data.length>0">{{data[0].transactionable.date}}</div>
				</h3>
			</div>
			<div class="card-toolbar">
				<!--begin::Dropdown-->
				<div class="dropdown dropdown-inline mr-2">
                    <button v-if="!isTransferIn"  @click="showDetailsForm" style="direction:ltr" type="button" class="ml-5 btn btn-light-success font-weight-bolder" aria-haspopup="true" >
						<span class="svg-icon svg-icon-md svg-icon-success "><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-09-29-132851/theme/html/demo2/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
                            </g>
                        </svg>
							<!--end::Svg Icon-->
						</span>إضافة
                    </button>
				</div>
				<!--end::Dropdown-->
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th class="">
                                    <span>المادة/الشريك</span>
                                    <div class="font-weight-bold text-muted">Item/Partner</div>
                                </th>
                                <th class="" v-if="!isTransferIn">
                                    <span>الرصيد الافتتاحي</span>
                                    <div class="font-weight-bold text-muted">Opening Balance</div>
                                </th>
                                <th class="">
                                    <span>الكمية</span>
                                    <div class="font-weight-bold text-muted">Quantity</div>
                                </th>
                                <th class="">
                                    <span>الفاقد</span>
                                    <div class="font-weight-bold text-muted">Loss</div>
                                </th>
                                <th class="">
                                    <span>التالف</span>
                                    <div class="font-weight-bold text-muted">Damage</div>
                                </th>
                                 <th class="" v-if="!isTransferIn">
                                    <span>الرصيدالمتبقي</span>
                                    <div class="font-weight-bold text-muted">Closing Balance</div>
                                </th>
                                  <th class="">
                                    <span>مناقلة</span>
                                    <div class="font-weight-bold text-muted">Transfer</div>
                                </th>
                                <th class="">
                                    <span>ملاحظات</span>
                                    <div class="font-weight-bold text-muted">Notes</div>
                                </th>
                                <th v-if="!isTransferIn">.</th>
                                <th v-if="!isTransferIn">.</th>
                            </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                            <tr style="background:#fff;" v-if="loading">
                                <td colspan="4" style="width:100%;height:200px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="spinner spinner-danger spinner-left"></span>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr v-else v-for="(item,index) in data" :key="item.id"> 
                             <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 40px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{index}}</div>
                                    </span>
                                </td>
                                <td class="datatable-cell"> 
                                    <span style="width: 250px;">
                                        <div class="d-flex align-items-center">
                                            <div style="padding-left:10px;" class="symbol symbol-50  symbol-circle  symbol-sm symbol-light-danger">
                                                <span class="symbol-label font-size-p" style="font-weight:bolder">{{ item.material_donor.donor.code}}</span>								
                                            </div>								
                                            <div class="ml-3">									
                                                <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">{{item.material_donor.material.name.ar}}</div>	
                                                <a href="#" class="text-muted font-weight-bold text-hover-primary ">{{item.material_donor.unit.name.ar}}  </a>								
                                                <a href="#" class="text-muted font-weight-bold text-hover-primary" v-if="item.ctn"> -ctn: {{item.ctn.name}}</a>								
                                            </div>							
                                        </div>
                                    </span>
                                </td>
                                <td class="datatable-cell-sorted datatable-cell" v-if="!isTransferIn">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.opening_balance}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.quantity}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span >
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.loss ?? 0}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span >
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.damage ?? 0}}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell" v-if="!isTransferIn">
                                    <span style="">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.closing_balance }}</div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell" >
                                    <span style="">
                                        <div class="font-weight-bolder font-size-lg mb-0">
                                                <span class="svg-icon svg-icon-success svg-icon-2x" v-if="item.transaction_type_id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24"/>
                                                            <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                                <span class="svg-icon svg-icon-danger svg-icon-2x" v-else>
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                                            <rect x="0" y="7" width="16" height="2" rx="1"/>
                                                            <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                                        </g>
                                                    </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>

                                        </div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.notes}}</div>
                                    </span>
                                </td>
                                <td v-if="!isTransferIn" class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                                    <a class="kt-nav__link"  href="javascript:;" @click="editDetailsItem(item)" ><i class="kt-nav__link-icon color-primary flaticon-edit-1 "></i></a>
                                </td>
                                <td v-if="!isTransferIn" class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                                    <a class="kt-nav__link" href="javascript:;" @click="deleteDetailsItem(item)" ><i class="kt-nav__link-icon flaticon2-trash "></i></a>
                                </td>
                            </tr>

                            <tr style="background:#fff;" v-if="data!=null && data.length == 0">
                                <td colspan="4" style="width:100%;height:80px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="font-weight-bolder">لا يوجد نتائج مطابقة</span>
                                    </div>
                                </td>
                            </tr> 
                            
                        </tbody>
                    </table>
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
    </div>
</template>
<style src="./transaction_details_table.scss"  lang="scss"></style>

<script src="./transaction_details_table.component.js"></script>