<template>
<div class="d-flex flex-column flex-root" dir="rtl">
    <!--begin::Login-->
        <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
				<div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid bgi-dark">
					<div class="login-form text-center text-white p-7 position-relative overflow-hidden">
						<!--begin::Login Header-->
						<div class="d-flex flex-center mb-15">
							<a href="#">
								<img src="/images/SWIS 01.png" class="max-h-75px" alt="" />
							</a>
						</div>
						<!--end::Login Header-->
						<!--begin::Login Sign in form-->
						<div class="login-signin">
							<div class="mb-20">
								<h3 class="opacity-40 font-weight-normal">تسجيل الدخول</h3>
								<p class="opacity-40">أدخل المعلومات الخاصة بك لتسجيل الدخول إلى حسابك</p>
							</div>
							<form class="form" id="kt_login_signin_form" v-on:submit.prevent="login()">
								<div class="form-group">
									<input 
									class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" 
									type="text" 
									placeholder="البريد الالكتروني" 
									name="username"
									v-model="validator$.user_email.$model"
									:class="validator$.user_email.$invalid ? 'is-invalid':''"
									:invalid="validator$.user_email.$invalid"/>
									<div class="fv-plugins-message-container">
										<div v-for="error in validator$.user_email.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
										
									</div>
								</div>
								<div class="form-group">
									<input  
									class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" 
									type="password" 
									placeholder="كلمة المرور" 
									name="password"
									v-model="validator$.password.$model"
									:class="validator$.password.$invalid ? 'is-invalid':''"
									:invalid="validator$.password.$invalid"/>
									<div class="fv-plugins-message-container">
										<div v-for="error in validator$.password.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
									</div>
								</div>
								<div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">
									<div class="checkbox-inline">
										<label class="checkbox checkbox-outline checkbox-white text-white m-0">
										<input type="checkbox" name="remember" />
										<span></span>تذكرني</label>
									</div>
									<a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">نسيت كلمة المرور ؟</a>
								</div>
								<div class="form-group text-center mt-10">
									<button 
									id="kt_login_signin_submit" 
									@click="login(validator$.user_email.$model,validator$.password.$model)" 
									type="submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3" 
									:class="loading ? 'spinner spinner-white spinner-left':''"
									:disabled="validator$.$invalid"
									>تسجيل الدخول</button>
								</div>
							</form>
						
						</div>
						<!--end::Login Sign in form-->
						<!--begin::Login forgot password form-->
						<div class="login-forgot">
							<div class="mb-20">
								<h3 class="opacity-40 font-weight-normal">نسيت كلمة المرور؟</h3>
								<p class="opacity-40">أدخل بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك</p>
							</div>
							<form class="form" id="kt_login_forgot_form">
								<div class="form-group mb-10">
									<input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="البريد الالكتروني" name="email" autocomplete="off" />
								</div>
								<div class="form-group">
									<button id="kt_login_forgot_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">إرسال الطلب</button>
									<button id="kt_login_forgot_cancel" class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">إلغاء</button>
								</div>
							</form>
						</div>
						<!--end::Login forgot password form-->
					</div>
				</div>
			</div>
	<!--end::Login-->
</div>
<!--end::Main-->
</template>
<style lang="scss"  src="./login.scss"></style>
<script src="./login.view.js"></script>