.login.login-5 .login-signin,
.login.login-5 .login-forgot {
  display: none; }

.login.login-5.login-signin-on .login-signin {
  display: block; }

.login.login-5.login-signin-on .login-forgot {
  display: none; }

.login.login-5.login-signup-on .login-signup {
  display: block; }

.login.login-5.login-signup-on .login-signin {
  display: none; }

.login.login-5.login-signup-on .login-forgot {
  display: none; }

.login.login-5.login-forgot-on .login-signup {
  display: none; }

.login.login-5.login-forgot-on .login-signin {
  display: none; }

.login.login-5.login-forgot-on .login-forgot {
  display: block; }

.login.login-5 .login-form {
  width: 100%;
  max-width: 450px; }

@media (max-width: 575.98px) {
  .login.login-5 .login-form {
    width: 100%;
    max-width: 100%; } 
}
body{
   // background-image: url('../../..//assets/images/bg-10.jpg');
}
.bgi-dark{
    background-image: url('../../..//assets/images/bg-2.jpg');
    height: 100vh;
}

.checkbox-inline .checkbox span{
    @include margin-right(0.75rem);
}
.btn.btn-primary {
    color: #FFFFFF;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
  background-position: left calc(0.375em + 0.325rem) center !important;
}