<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12">
                <TransactionInForm v-on:show-detail-form="showDetailForm" />
        </div>
    </div>
    
    <div class="row pt-10 mb-10" v-show="showDetailsForm">
        <div class="col-12">
                <TransactionDetailsForm :transaction="transaction"
                                        :transaction_type="'App\\Models\\TransactionIn'"
                                        v-on:hide-detail-form="hideDetailForm"
                                        v-on:refresh-details="transactionSaved"
                                        id="detailsForm"
                                        />
        </div>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
                <TransactionDetailsTable 
                    v-on:show-detail-form="showDetailForm" 
                    :id="transactionId"
                    :refreshDetails="refreshDetails"
                    :type="'in'"
                    @refreshed="refreshDetails=false"/>
        </div>
    </div>
        <MaterialModal :donor_diabled="true" :donor_id="transaction.fromable_type=='App\\Models\\Donor' ? transaction.fromable_id : null" :is_material_request="true"/>
</div>
</template>

<script src="./transaction_in_addedit.view.js"></script>