<template>
   <div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12">
         <Filters @search="search" :loading="loading"/>
        </div>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <WarehouseReportTable :loading="loading" :reportData="warehouse_report"></WarehouseReportTable>
        </div>
    </div>
</div>
</template>


<script src="./warehouse_reports.view.js"></script>
