<template>
<div class="container-fluid mb-4" dir="rtl">
    <div class="row">
        <div class="col-12">
            <div class="card card-custom" data-card="true" id="kt_card_1">
                <div class="card-body">
                    <MaterialForm />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script src="./material-addedit.view.js"></script>