<template>
  <div class="container-fluid" dir="rtl">
    <div class="row">
      <div class="col-12">
        <div v-if="loading" class="card card-custom gutter-b">
            <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                <span  class="spinner spinner-danger spinner-left"></span>
            </div>
        </div>
        <div v-else-if="transaction_detail && transaction_detail.material_donor" class="card card-custom gutter-b">
          <div class="card-body">
            <div class="d-flex">
              <!--begin: Pic-->
              <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                <div class="symbol symbol-50 symbol-lg-120 symbol-primary">
                  <span class="font-size-h3 symbol-label font-weight-boldest"
                    >{{ transaction_detail.material_donor.donor.code }}</span
                  >
                </div>
              </div>
              <!--end: Pic-->
              <!--begin: Info-->
              <div class="flex-grow-1">
                <!--begin: Title-->
                <div
                  class="d-flex align-items-center justify-content-between flex-wrap"
                >
                  <div class="ml-3">
                    <!--begin::Name-->
                    <a
                      href="#"
                      class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3"
                      >{{ transaction_detail.material_donor.material.name.ar }}
                      <i class="flaticon2-correct text-success icon-md mr-2"></i
                    ></a>
                    <!--end::Name-->
                    <!--begin::meta-->
                    <div class="d-flex flex-wrap my-2 mr-3">
                      <a
                        href="#"
                        class="text-muted text-hover-primary font-weight-bold"
                      >
                        <span
                          class="svg-icon svg-icon-md svg-icon-gray-500 mr-1"
                        >
                          <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/Map/Marker2.svg-->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24" />
                              <path
                                d="M15,9 L13,9 L13,5 L15,5 L15,9 Z M15,15 L15,20 L13,20 L13,15 L15,15 Z M5,9 L2,9 L2,6 C2,5.44771525 2.44771525,5 3,5 L5,5 L5,9 Z M5,15 L5,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,15 L5,15 Z M18,9 L16,9 L16,5 L18,5 L18,9 Z M18,15 L18,20 L16,20 L16,15 L18,15 Z M22,9 L20,9 L20,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,9 Z M22,15 L22,19 C22,19.5522847 21.5522847,20 21,20 L20,20 L20,15 L22,15 Z"
                                fill="#000000"
                              />
                              <path
                                d="M9,9 L7,9 L7,5 L9,5 L9,9 Z M9,15 L9,20 L7,20 L7,15 L9,15 Z"
                                fill="#000000"
                                opacity="0.3"
                              />
                              <rect
                                fill="#000000"
                                opacity="0.3"
                                x="0"
                                y="11"
                                width="24"
                                height="2"
                                rx="1"
                              />
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                        <span class="mr-2">{{ transaction_detail.material_donor.code }}</span>
                      </a>
                      <a
                        href="#"
                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                      >
                        <span
                          class="svg-icon svg-icon-md svg-icon-gray-500 ml-1"
                        >
                          <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/Communication/Mail-notification.svg-->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24" />
                              <rect
                                fill="#000000"
                                opacity="0.3"
                                transform="translate(12.023129, 11.752757) rotate(33.000000) translate(-12.023129, -11.752757) "
                                x="11.0231287"
                                y="7.92751491"
                                width="2"
                                height="7.65048405"
                                rx="1"
                              />
                              <path
                                d="M7.5,3 L16.5,3 C18.9852814,3 21,5.01471863 21,7.5 L21,15.5 C21,17.9852814 18.9852814,20 16.5,20 L7.5,20 C5.01471863,20 3,17.9852814 3,15.5 L3,7.5 C3,5.01471863 5.01471863,3 7.5,3 Z M6,7.88235294 L8.57142857,12 L15.4285714,12 L18,7.88235294 C17,5.96078431 15,5 12,5 C9,5 7,5.96078431 6,7.88235294 Z"
                                fill="#000000"
                              />
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                        <span class="mr-2">الوزن: {{ transaction_detail.material_donor.weight }} كغ</span>
                      </a>
                      <a
                        href="#"
                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                      >
                        <span
                          class="svg-icon svg-icon-md svg-icon-gray-500 ml-1"
                        >
                          <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/General/Lock.svg-->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <polygon points="0 0 24 0 24 24 0 24" />
                              <path
                                d="M18,6 L11,6 C10.3333333,5.88561808 10,5.55228475 10,5 C10,4.44771525 10.3333333,4.11438192 11,4 L20,4 L20,13 C20,13.6666667 19.6666667,14 19,14 C18.3333333,14 18,13.6666667 18,13 L18,6 Z M6,18 L13,18 C13.6666667,18.1143819 14,18.4477153 14,19 C14,19.5522847 13.6666667,19.8856181 13,20 L4,20 L4,11 C4,10.3333333 4.33333333,10 5,10 C5.66666667,10 6,10.3333333 6,11 L6,18 Z"
                                fill="#000000"
                                fill-rule="nonzero"
                              />
                              <rect
                                fill="#000000"
                                opacity="0.3"
                                transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) "
                                x="7"
                                y="11"
                                width="10"
                                height="2"
                                rx="1"
                              />
                            </g>
                          </svg>
                          <!--end::Svg Icon-->
                        </span>
                        <span class="mr-2">الحجم: {{transaction_detail.material_donor.size}}</span>
                      </a>
                    </div>
                    <!--end::Contacts-->
                  </div>
                  <div class="my-lg-0 my-1">
                    <!-- <a href="#" class="btn btn-sm btn-info font-weight-bolder text-uppercase">اضافة مادة</a> -->
                  </div>
                </div>
                <!--end: Title-->
                <!--begin: Content-->
                <div
                  class="d-flex align-items-center flex-wrap justify-content-between"
                >
                  <div
                    class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5 text-right"
                  >
                   {{transaction_detail.material_donor.content}}
                  </div>
                </div>
                <!--end: Content-->
              </div>
              <!--end: Info-->
            </div>
            <div class="separator separator-solid my-7"></div>
            <!--begin: Items-->
            <div class="d-flex align-items-center flex-wrap">
              <!--begin: Item-->
              <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <span class="ml-4">
                  <i
                    class="flaticon-coins icon-2x text-muted font-weight-bold"
                  ></i>
                </span>
                <div class="d-flex flex-column text-dark-75 text-right">
                  <span class="font-weight-bolder font-size-sm"
                    >الرصيد المتبقي</span
                  >
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold"></span
                    >{{ transaction_detail.closing_balance }}</span
                  >
                </div>
              </div>
              <!--end: Item-->
              <!--begin: Item-->
              <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <span class="ml-4">
                  <i
                    class="flaticon-download icon-2x text-muted font-weight-bold"
                  ></i>
                </span>
                <div class="d-flex flex-column text-dark-75 text-right">
                  <span class="font-weight-bolder font-size-sm"
                    >عدد حركات الوارد</span
                  >
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold"></span
                    >{{transaction_detail.in_count}}</span
                  >
                </div>
              </div>
              <!--end: Item-->
              <!--begin: Item-->
              <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <span class="ml-4">
                  <i
                    class="flaticon-upload icon-2x text-muted font-weight-bold"
                  ></i>
                </span>
                <div class="d-flex flex-column text-dark-75 text-right">
                  <span class="font-weight-bolder font-size-sm"
                    >عدد حركات الصادر</span
                  >
                  <span class="font-weight-bolder font-size-h5">
                    <span class="text-dark-50 font-weight-bold"></span
                    >{{transaction_detail.out_count}}</span
                  >
                </div>
              </div>
              <!--end: Item-->
            </div>
            <!--begin: Items-->
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-10 mb-10">
        <div class="col-12">
            <MaterialTransaction  :data="material_transactions"/>
        </div>
    </div>
  </div>
  
</template>

<script src="./view-material.view.js"></script>