<template >
<div class="w-100">
    <template v-if="pending_transactions">
          <router-link :to="{  name: 'TransferInAddEdit', params: { id: item.id } }"  class="kt-notification__item" v-for="item in pending_transactions" :key="item.id">
            <div class="kt-notification__item-icon">
            <i class="flaticon2-download kt-font-warning"></i>
            </div>
            <div class="kt-notification__item-details">
            <div class="kt-notification__item-title">
                 <strong>
                        وارد من مستودع {{ item.fromable.name.ar }}
                    </strong>
            </div>
             <div class="kt-notification__item-time">
                     رقم المذكرة : {{ item.waybill_no }}
                </div>
            <div class="kt-notification__item-time">{{ $filters.timefromNow(item.created_at) }}</div>
            </div>
          </router-link>
    </template>
    
   <div v-else class="kt-grid__item kt-grid__item--middle kt-align-center">
    <br>لا يوجد مناقلات وارد
  </div>
</div>
  
</template>

  
<script src="./pending_transaction_notifications.component.js"></script>
<style lang="scss" src="./pending_transaction_notifications.component.scss"></style>