<template>
      <div class="form-group">
		<label class="col-form-label col-12 font-weight-bolder" v-if="label">{{label}}</label>
		<label class="col-form-label col-12 font-weight-bolder" v-else> الادوار</label>
		<div class="kt-input-icon">
			<select  class="form-control select2"  
					:id="dataRef" :disabled="loading || disabled" 
					v-model="selected">
			    <option v-for="element in roles" :value="element.id" :key="element.id">{{element.name}}</option>
			</select>
            <span v-if="loading" class="kt-input-icon__icon kt-input-icon__icon--left">
                <span  class="spinner spinner-success spinner-left"></span>
			</span>
		</div>
    </div>
</template>

<style src="./roles_select.component.scss" lang="scss"></style>
<script src="./roles_select.component.js"></script>