<template>
    <div class="container-fluid" dir="rtl">
        <div class="row pt-10 mb-10">
            <div class="col-12">
                <WarehousDonorsTable/>
            </div>
        </div>
    </div>
</template>
<script src="./warehouse_donors.view.js"></script>