<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12">
                <TransactionInForm v-on:show-detail-form="showDetailForm"  :isTransferIn="true" @confirmed="saveTransfer"/>
        </div>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
                <TransactionDetailsTable v-if="transaction && transaction.transfer"
                    v-on:show-detail-form="showDetailForm" 
                    :id="transaction.transfer.transaction_out_id"
                    :refreshDetails="refreshDetails"
                    :type="'out'"
                    :isTransferIn="true"
                    @refreshed="refreshDetails=false"/>
        </div>
    </div>
        <MaterialModal :donor_diabled="true" :donor_id="transaction.fromable_type=='App\\Models\\Donor' ? transaction.fromable_id : null" :is_material_request="true"/>
</div>
</template>

<script src="./transfer_in.view.js"></script>