<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12">
            <TransactionInFilters @search="search"/>
        </div>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <TransactionOutTable :loading="loading" :data="transaction_out_data" v-on:get-transations="getTransactions"/>
        </div>
    </div>
</div>
</template>
<script src="./transaction_outs.view.js"></script>