<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
        <MinimumQuantityModal
          v-on:refresh-data="refreshData=true"
          :showModal="showModal"
          
        ></MinimumQuantityModal>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <MinimumQuantityTable 
            :data="minimum_quantity_data" 
            v-on:get-data="getData"
            :refreshData="refreshData"
            @refreshed="refreshData=false"/>
        </div>
    </div>
</div>
</template>

<script src="./minimum_quantity_index.view.js"></script>