<template>
    <div class="form-group">
		<label class="col-form-label col-12 font-weight-bolder" >القطاع
              <span class="required" v-if="required">*</span>

		</label>
		<div class="kt-input-icon">
			<select class="select2" :id="dataRef" :disabled="loading || disabled" v-model="selected">
			    <option v-for="element in sectors" :value="element.id" :key="element.id">{{element.name.ar}} - {{element.name.en}}</option>
			</select>
            <span v-if="loading" class="kt-input-icon__icon kt-input-icon__icon--left">
                <span  class="spinner spinner-success spinner-left"></span>
			</span>
		</div>
    </div>
</template>



<style src="./sector-select.scss" lang="scss"></style>
<script src="./sector-select.component.js"></script>