<template>
    <div class="modal fade"
     id="MinimumQuantityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true"
     >
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100 font-weight-bolder font-size-h3">الحد الادنى</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form class="w-100" v-on:submit.prevent="storeItem(minimum_quantity)">
               <div class="form-row">
                   <input type="hidden" v-model="minimum_quantity.id">
                   <input type="hidden" v-if="user && user.warehouse_id!=null" v-model="minimum_quantity.warehouse_id">
                    <div class="from-group row" style="width:100%;">
                         <div class="col-12" >
                            <DonorsSelect 
                                @donor="donorChagned" 
                                :disabled="false" 
                                :dataRef="'MinimumQuantitySelect'" 
                                :selected="minimum_quantity.donor_material !=null ? minimum_quantity.donor_material.donor_id : null" 
                            >
                            </DonorsSelect>
                        </div>
                        <div class="col-12" >
                            <DonorMaterialsSelect 
                                @material="donorMaterialChagned" 
                                :invalid="$v.minimum_quantity.donor_material_id.$invalid" 
                                :validationErrors="$v.minimum_quantity.donor_material_id.$errors"
                                :donor_id="minimum_quantity.donor_material!=null ? minimum_quantity.donor_material.donor_id : null "
                                :selected="minimum_quantity !=null ? minimum_quantity.donor_material_id : 0"
                                :invalideClass="$v.minimum_quantity.donor_material_id.$invalid ? 'is-invalid':''"
                            ></DonorMaterialsSelect>
                        </div>
                    </div>
                    <div class="form-group row" style="width:100%">
							<label class="col-form-label col-12 font-weight-bolder">الكمية</label>
							<div class="col-12">
								<input class="form-control form-control-lg"
                                       :disabled="loading" 
                                        type="text" 
                                        dir="rtl" 
                                        placeholder="" 
                                        v-model="$v.minimum_quantity.minimum_quantity.$model"
                                        :class="$v.minimum_quantity.minimum_quantity.$invalid ? 'is-invalid':''"
									    :invalid="$v.minimum_quantity.minimum_quantity.$invalid"  />
                                        <div class="fv-plugins-message-container">
										    <div v-for="error in $v.minimum_quantity.minimum_quantity.$errors" :key="error.$property" data-field="username" data-validator="notEmpty" class="fv-help-block">{{error.$message}}</div>
									    </div>
							</div>
                            
						</div>
               </div>
           </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-pill  btn-secondary" id="closeMinimumQuantity" @click="showModal=false" data-dismiss="modal" >
            <span class="la la-close icon-nm ml-2"></span>
            <span class="">إلغاء</span>
        </button>
           <button 
                    data-dismiss="modal"
                    @click="storeItem(minimum_quantity)"
                    :disabled="loading_store"
					:class="loading_store ? 'spinner spinner-white spinner-left':''"
					type="submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 font-weight-bolder " >
						حفظ
					</button>
      </div>
    </div>
    </div>
</div>
</template>
<style src="./minimum_quantity_modal.scss"  lang="scss"></style>

<script src="./minimum_quantity_modal.component.js"></script>