<template>
    <div class="form-group">
		<label class="col-form-label col-12 font-weight-bolder">المستودعات</label>
		<div class="kt-input-icon">
			<select class="select2" id="warehouses_selector" name="warehouse_id" :disabled="loading || disabled" v-model="selected">
			<!-- <optgroup :id="index"  v-for="(item,index) in warehouses_branches" :key="item" :label="item">
					<option v-for="element in warehouses.filter(function(warehouse) {
						if(warehouse.branchable && warehouse.branchable_type=='App\\Models\\SubBranch' && warehouse.branchable.branch){
							return warehouse.branchable.branch.name.ar ==item;
						}
						else if(warehouse.branchable){
							 return warehouse.branchable.name.ar==item;
						}
						})" 
					:value="element.id" 
					:key="element.id"
					:data-select2-id="element.id"
					selected>{{element.name.ar}}</option>
			</optgroup> -->
			<option v-for="item in warehouses" :key="item.id" :value="item.id" >{{item.name.ar}}</option>
			</select>
            <span v-if="loading" class="kt-input-icon__icon kt-input-icon__icon--left">
                <span  class="spinner spinner-success spinner-left"></span>
			</span>
		</div>
    </div>
</template>


<style src="./all-warehouses-select.scss" lang="scss"></style>
<script src="./all-warehouses-select.component.js"></script>