<template >
<div class="w-100">
    <template v-if="pending_material_requests.length>0">
        <div v-if="item.donor_material">
            <router-link :to="{  name: 'viewMaterialRequest', params: { id: item.id } }"   class="kt-notification__item" v-for="item in pending_material_requests" :key="item.id">
                <div class="kt-notification__item-icon">
                <i class="flaticon2-pie-chart kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                <div class="kt-notification__item-title">{{item.user.warehouse.name.ar}} - {{item.user.branchable.name.ar}} - {{item.donor_material.donor.code}} - {{item.donor_material.material.name.ar}}</div>
                <div class="kt-notification__item-time">{{ $filters.timefromNow(item.created_at) }}</div>
                </div>
            </router-link>
        </div>
       
    </template>
    

   <div v-else class="kt-grid__item kt-grid__item--middle kt-align-center">
    <br>لا يوجد طلبات جدبدة
  </div>
</div>
  
</template>

  
<script src="./material_request_notification.component.js"></script>
<style lang="scss" src="./material_request_notification.component.scss"></style>