<template>
    <!-- begin:: Footer -->
<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
   
    <div class="kt-footer__bottom">
        <div class="kt-container kt-container--fluid ">
            <div class="kt-footer__wrapper text-center">
                <div class="kt-footer__logo">
                    <div class="kt-footer__copyright text-center">
                        
                        <a href="#" target="_blank">2020&nbsp;&copy;&nbsp; Meet SWIS Team</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name:'Footer'
}
</script>

<style lang="scss">
    .kt-footer {
        .kt-footer__bottom {
            background-color:$primary-color !important;
            .kt-footer__wrapper {
                justify-content: center !important;
                .kt-footer__copyright{
                    a{
                        color:#fff;
                        font-weight:bolder;
                    }
                }
            }
        }
    }
</style>