<template>
<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " data-ktheader-minimize="on">
    <header-top-bar></header-top-bar>
    <header-menu></header-menu>
</div>
<!-- end:: Header -->

</template>
<script>
    import HeaderTopBar from '@/components/layout/header/header-top/header-top'
    import HeaderMenu from '@/components/layout/header/header-menu/header-menu'
export default {
    name:'Header',

    components:{
        HeaderTopBar,
        HeaderMenu
    }
}
</script>