<template>
   <div class="card card-custom">
       
		<!--begin::Header-->
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label">الحد الادنى للمواد في المستودع
				</h3>
			</div>
			<div class="card-toolbar">
				<!--begin::Dropdown-->
				<div class="dropdown dropdown-inline mr-2">
                    <button 
                     style="direction:ltr" type="button" data-target="#MinimumQuantityModal" data-toggle="modal" class="ml-5 btn btn-light-success font-weight-bolder" aria-haspopup="true" >
						<span class="svg-icon svg-icon-md svg-icon-success "><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-09-29-132851/theme/html/demo2/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
                            </g>
                        </svg>
							<!--end::Svg Icon-->
						</span>إضافة
                    </button>
				</div>
				<!--end::Dropdown-->
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body">
		    <div class="kt-section">
                <div class="kt-section__content datatable datatable-default">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                            <tr>
                                <th class="">
                                    <span>الشريك</span>
                                    <div class="font-weight-bold text-muted">Partner</div>
                                </th>
                                 <th class="">
                                    <span>المادة</span>
                                    <div class="font-weight-bold text-muted">Item</div>
                                </th>
                                <th class="">
                                    <span>الحد الادنى</span>
                                    <div class="font-weight-bold text-muted">Minimum Quantity</div>
                                </th>
                                <th >.</th>
                            </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                            <tr style="background:#fff;" v-if="loading">
                                <td colspan="4" style="width:100%;height:200px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="spinner spinner-danger spinner-left"></span>
                                    </div>
                                </td>
                            </tr>
                                 <tr v-else v-for="item in data.data" :key="item.id"> 
                                <td data-field="DONORCODE"  class="datatable-cell" >
                                    <span style="width: 250px;">
                                        <div class="d-flex align-items-center">
                                            <div style="padding-left:10px;" class="symbol symbol-50 symbol-circle symbol-sm symbol-light-danger">
                                                <span class="symbol-label font-size-p" style="font-weight:bolder">{{item.donor_material.donor.code}}</span>								
                                            </div>								
                                            <div class="ml-3">									
                                                <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">{{item.donor_material.donor.name.ar}}</div>	
                                                <a href="#" class="text-muted font-weight-bold text-hover-primary">{{item.donor_material.donor.name.en}}</a>								
                                            </div>							
                                        </div>
                                    </span>
                                </td>
                                <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.donor_material.material.name.ar}}</div>
                                        <div class="font-weight-bold text-muted">
                                            <span>{{item.donor_material.material.name.en}}</span>
                                            <span>-</span>
                                            <span>{{item.warehouse.name.ar}}</span>
                                        </div>
                                    </span>
                                </td>
                                 <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.minimum_quantity}}</div>
                                    </span>
                                </td>
                                <td  class="datatable-cell-sorted datatable-cell" data-field="Closing Balance">
                                    <a class="kt-nav__link"  href="javascript:;"  @click="editItem(item)" data-toggle="modal" data-target="#MinimumQuantityModal"><i class="kt-nav__link-icon color-primary flaticon-edit-1 "></i></a>
                                    <a class="kt-nav__link ml-4" href="javascript:;" @click="deleteItem(item)"><i class="kt-nav__link-icon flaticon2-trash "></i></a>
                                </td>
                               
                                
                            </tr>
                             <tr style="background:#fff;" v-if="data!=null && data.length == 0">
                                <td colspan="4" style="width:100%;height:80px;">
                                    <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                        <span  class="font-weight-bolder">لا يوجد نتائج مطابقة</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                      <Pagination v-if="data && data.links" :totalPages="data.links.length"
                                :total="data.total"
                                :currentPage="data.current_page"
                                :firstPageUrl="data.first_page_url"
                                :lastPageUrl="data.last_page_url"
                                :links="data.links"
                                :onPagechanged="pagechanged"
                                :from="data.from"
                                :to="data.to"
                                :onPerpagechanged="perpagechanged"
                                :currentLink="data.path"
                                />
                </div>
              
            </div>
			
		</div>
		<!--end::Body-->
    </div>
</template>
<style src="./minimum_quantity_table.scss"  lang="scss"></style>

<script src="./minimum_quantity_table.component.js"></script>