<template>
   <div class="col-4">
        <div class="card card-custom card-stretch gutter-b localized-card" style="text-align:right">
            <!--begin::Body-->
			<div class="card-body">
                <div class="stat-icon d-flex justify-content-between">
                     <span class="svg-icon svg-icon-danger svg-icon-4x ml-n1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                <rect fill="#000000" opacity="0.3" x="11" y="2" width="2" height="14" rx="1"/>
                                <path d="M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z" fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="spinner spinner-primary spinner-left" v-if="loading"></span>
                    <span v-else class="text-dark-75 text-hover-primary font-weight-bolder font-size-h1">
                        {{out_count}}
                    </span>
				
                </div>
                <div class="text-inverse-white font-weight-bolder font-size-h5 mb-2 mt-5">إجمالي عدد حركات الصادر</div>
				<div class="font-weight-bold text-inverse-white font-size-sm" v-if="user && user.branchable!=null">
					<template v-if="user.branchable_type=='App\\Models\\Branch'">فرع</template>
					<template v-else-if="user">{{user.branchable.type}}</template>
					 {{ user.branchable.name.ar}} 
                     <template v-if="user && user.warehouse!=null">- مستودع {{ user.warehouse.name.ar}} </template>
				</div>
			
			</div>
			<!--end::Body-->
	    </div>  

    </div>
</template>

<style lang="scss"  src="./total_out_count.scss"></style>
<script src="./total_out_count.component.js"></script>