<template>
    <div class="form-group">
		<label class="col-form-label col-12 font-weight-bolder" >المواد</label>
		<div class="kt-input-icon" :invalid="invalid">
			<select class="select2"  id="donor_materials_selector" 
				:disabled="loading" v-model="selected"
				:class="invalide"
				>
			    <option v-for="element in donor_materials" :value="element.id" :key="element.id">{{element.material.name.ar}} / {{element.material.name.en}}</option>
			</select>
            <span v-if="loading" class="kt-input-icon__icon kt-input-icon__icon--left">
                <span  class="spinner spinner-success spinner-left"></span>
			</span>
		</div>
		<div class="fv-plugins-message-container">
			<div v-for="error in validationErrors" :key="error.$property"  class="fv-help-block">{{error.$message}}</div>
		</div>

    </div>
</template>



<style src="./donor-materails-select.scss" lang="scss"></style>
<script src="./donor-materails-select.component.js"></script>