<template>
  <!-- Modal-->
  <div
    class="modal fade"
    id="MaterialModal"
    data-backdrop="static"
    tabindex="-1"
    role="dialog"
    ref='materialModal'
    aria-labelledby="staticBackdrop"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">إضافة مادة جديدة</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  >
          </button>
        </div>
        <div class="modal-body">
            <MaterialForm :donor_disabled="donor_diabled" :donor_id="donor_id" @saved="closeModal()" :is_material_request="is_material_request"/>
        </div>
       
      </div>
    </div>
  </div>
</template>
<style src="./material_modal.component.scss"  lang="scss"></style>

<script src="./material_modal.component.js"></script>