<template>
<div class="container-fluid" dir="rtl">
    <div class="row">
           <BranchModal
          v-on:refresh-data="refreshData=true"
          :showModal="showModal"
          
        ></BranchModal>
    </div>
    <div class="row pt-10 mb-10">
        <div class="col-12">
            <BranchesTable 
            :data="branches_data" 
            v-on:get-data="getData"
            :refreshData="refreshData"
            @refreshed="refreshData=false"/>
        </div>
    </div>
</div>
</template>

<script src="./branches_index.view.js"></script>