.kt-user-card {
 background:$primary-color  !important;
 background-color:$secondary-color !important;
 }
 .kt-header__topbar-wrapper{
     .kt-header__topbar-username{
     color:$primary-color !important;
     font-weight: 600 !important;
     }
 }
.user-menu{
    direction:rtl !important;
}
.kt-user-card.kt-user-card--skin-dark .kt-user-card__name{
    @include text-align() ;
    @include padding-left(1rem);
}