<template>
    <div class="card card-custom" data-card="true" id="kt_card_1">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">مستخدم جديد</h3>
            </div>
            <div class="card-toolbar">
                <div class="dropdown dropdown-inline mr-2">
                    <!-- <button

                      @click="$emit('confirmed')"
                      style="direction:ltr"
                      type="button"
                      class="ml-5 btn btn-success font-weight-bolder"
                      aria-haspopup="true"
                    >

                      <span class="svg-icon svg-icon-md ">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="24px"
                          height="24px"
                          viewBox="0 0 24 24"
                          version="1.1"
                        >
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path
                              d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                              fill="#000000"
                              fill-rule="nonzero"
                              transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "
                            ></path>
                          </g>
                        </svg>
                      </span>
                      التأكيد و الحفظ
                    </button>-->
                </div>
                <a
                        href="#"
                        v-if="loading"
                        class="kt-input-icon__icon btn btn-icon btn-sm btn-hover-light-primary mr-1"
                >
                    <i class="spinner spinner-warning spinner-xs"></i>
                </a>
                <a
                        href="#"
                        class="btn btn-icon btn-sm btn-hover-light-primary mr-1"
                        data-card-tool="toggle"
                        data-toggle="tooltip"
                        data-placement="top"
                        title
                        data-original-title="Toggle Card"
                >
                    <i class="flaticon2-down icon-nm"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form v-on:submit.prevent="store(user)" ref="UserForm">
                <div class="form-row">
                    <input type="hidden" v-model="user.id">
                    <div class="form-group col-6">
                        <label class="col-form-label col-12 font-weight-bolder">الاسم الكامل (العربي)</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="text"
                                    dir="rtl"
                                    placeholder
                                    v-model="user.full_name.ar"
                            >
                        </div>
                    </div>
                    <div class="form-group col-6" style>
                        <label class="col-form-label col-12 font-weight-bolder">الاسم الكامل (الانكليزي)</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="text"
                                    dir="rtl"
                                    placeholder
                                    v-model="user.full_name.en"
                            >
                        </div>
                    </div>
                    <div class="form-group col-6" style>
                        <label class="col-form-label col-12 font-weight-bolder">اسم المستخدم</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="text"
                                    dir="rtl"
                                    placeholder
                                    v-model="$v.user.name.$model"
                                    :class="$v.user.name.$invalid ? 'is-invalid':''"
                                    :invalid="$v.user.name.$invalid"
                            >
                            <div class="fv-plugins-message-container">
                                <div
                                        v-for="error in $v.user.name.$errors"
                                        :key="error.$property"
                                        data-field="username"
                                        data-validator="notEmpty"
                                        class="fv-help-block"
                                >{{error.$message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6" style>
                        <label class="col-form-label col-12 font-weight-bolder">البريد الالكتروني</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="text"
                                    dir="rtl"
                                    placeholder
                                    v-model="$v.user.email.$model"
                                    :class="$v.user.email.$invalid ? 'is-invalid':''"
                                    :invalid="$v.user.email.$invalid"
                            >
                            <div class="fv-plugins-message-container">
                                <div
                                        v-for="error in $v.user.email.$errors"
                                        :key="error.$property"
                                        data-field="usermail"
                                        data-validator="notEmpty"
                                        class="fv-help-block"
                                >{{error.$message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6" style>
                        <label class="col-form-label col-12 font-weight-bolder">كلمة المرور</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="password"
                                    dir="rtl"
                                    placeholder
                                    v-model="user.password"
                            >
                        </div>
                    </div>
                    <div class="form-group col-6" style>
                        <label class="col-form-label col-12 font-weight-bolder">تأكيد كلمة المرور</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="password"
                                    dir="rtl"
                                    placeholder
                                    v-model="user.password_confirmation"
                            >
                        </div>
                    </div>
                    <div class="form-group col-12" style>
                        <label class="col-form-label col-12 font-weight-bolder">رقم الهاتف</label>
                        <div class="col-12">
                            <input
                                    class="form-control form-control-lg"
                                    :disabled="loading"
                                    type="text"
                                    dir="rtl"
                                    placeholder
                                    v-model="user.phone"
                            >
                        </div>
                    </div>
                    <div class="col-md-6" v-if="user && user.role_id !='4' && user.role_id">
                        <div class="form-group">
                            <label class="col-form-label col-12 font-weight-bolder">اختر فرع او شعبة المستخدم</label>
                            <div class="col-12 col-form-label">
                                <div class="radio-inline">
                                    <label class="radio radio-success">
                                        <input
                                                value='App\Models\Branch'
                                                :checked="user && user.branchable_type=='App\\Models\\Branch'"
                                                type="radio"
                                                name="branchable_type"
                                                :disabled="loading "
                                                v-model="$v.user.branchable_type.$model"
                                                :class="$v.user.branchable_type.$invalid ? 'is-invalid':''"
                                                :invalid="$v.user.branchable_type.$invalid"
                                        >
                                        <span></span>
                                        فرع
                                    </label>
                                    <label class="radio radio-success">
                                        <input
                                                value='App\Models\SubBranch'
                                                :checked="user && user.branchable_type=='App\\Models\\SubBranch'"
                                                type="radio"
                                                name="branchable_type"
                                                :disabled="loading"
                                                v-model="$v.user.branchable_type.$model"
                                                :class="$v.user.branchable_type.$invalid ? 'is-invalid':''"
                                                :invalid="$v.user.branchable_type.$invalid"
                                        >
                                        <span></span>
                                        شعبة / نقطة
                                    </label>


                                </div>
                                <div class="fv-plugins-message-container">
                                    <div
                                            v-for="error in $v.user.branchable_type.$errors"
                                            :key="error.$property"
                                            data-field="username"
                                            data-validator="notEmpty"
                                            class="fv-help-block"
                                    >{{error.$message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-6" v-if="user && user.role_id !='4'&& user.role_id ">
                        <BranchesSelect v-if="user && user.branchable_type=='App\\Models\\Branch'" @branch="branch"
                                        :dataRef="'userFormBranchSelect'"></BranchesSelect>
                        <SubBranchesSelect v-else-if="user && user.branchable_type=='App\\Models\\SubBranch'"
                                           @subbranch="subBranch"
                                           :dataRef="'userFormSubBranchSelect'"></SubBranchesSelect>


                    </div>
                    <div class="col-md-12">
                        <AllWarehousesSelect
                                v-if="user && user.branchable_id"
                                @warehouse="warehouseChanged"
                                :selected="user.warehouse_id"
                                :SubBranchID="user.branchable_type=='App\\Models\\SubBranch' ? user.branchable_id: 0"
                                :branchID="user.branchable_type=='App\\Models\\Branch' ? user.branchable_id: 0"
                        ></AllWarehousesSelect>
                    </div>
                    <div class="col-md-12">
                        <RolesSelect
                                :dataRef="'UserFormRolesSelect'"
                                @role="RoleChanged"
                                :selected="(user.roles && user.roles.length>0) ? user.roles[0] : 0"
                        ></RolesSelect>
                    </div>
                    <div class="col-12" v-if="user && user.role_id=='4'">

                        <DonorsSelect
                                @donor="donor"
                                :dataRef="'userFormDonorSelect'">

                        </DonorsSelect>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button
                                    :disabled="loading || $v.$invalid"
                                    :class="loading_store ? 'spinner spinner-white spinner-left':''"
                                    type="submit"
                                    class="btn btn-pill btn-success opacity-90 px-15 py-3 font-weight-bolder"
                            >حفظ
                            </button>
                            <button
                                    :disabled="loading"
                                    type="button"
                                    class="btn btn-pill btn-danger opacity-90 px-15 py-3 font-weight-bolder mr-5"
                                    @click="resetUserForm"
                            >تهيئة
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<style src="./user_form.scss" lang="scss"></style>

<script src="./user_form.component.js"></script>