<template>
    <div
            class="modal fade"
            id="SubBranchesModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalSizeLg"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100 font-weight-bolder font-size-h3">إضافة شعبة /نقطة</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            @click="showModal = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="w-100" v-on:submit.prevent="storeItem(subbranch)">
                        <div class="form-row row">
                            <input type="hidden" v-model="subbranch.id">
                            <div class="form-group col-12" style="">
                                <label class="col-form-label col-12 font-weight-bolder">الرمز</label>
                                <div class="w-100">
                                    <input
                                            class="form-control form-control-lg"
                                            :disabled="loading"
                                            type="text"
                                            dir="rtl"
                                            placeholder
                                            v-model="$v.subbranch.code.$model"
                                            :class="$v.subbranch.code.$invalid ? 'is-invalid':''"
                                            :invalid="$v.subbranch.code.$invalid"
                                    >
                                    <div class="fv-plugins-message-container">
                                        <div
                                                v-for="error in $v.subbranch.code.$errors"
                                                :key="error.$property"
                                                data-field="username"
                                                data-validator="notEmpty"
                                                class="fv-help-block"
                                        >{{error.$message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6" style="">
                                <label class="col-form-label col-12 font-weight-bolder">الاسم (العربي)</label>
                                <div class="w-100">
                                    <input
                                            class="form-control form-control-lg"
                                            :disabled="loading"
                                            type="text"
                                            dir="rtl"
                                            placeholder
                                            v-model="subbranch.name.ar"
                                    >
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label col-12 font-weight-bolder">الاسم (الانكليزي)</label>
                                <div class="w-100">
                                    <input
                                            class="form-control form-control-lg"
                                            :disabled="loading"
                                            type="text"
                                            dir="rtl"
                                            placeholder
                                            v-model="subbranch.name.en"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label col-12 font-weight-bolder">النوع</label>
                                    <div class="col-12 col-form-label">
                                        <div class="radio-inline">
                                            <label class="radio radio-success">
                                                <input
                                                        value="SubBranch"
                                                        :checked="subbranch && subbranch.type=='SubBranch'"
                                                        type="radio"
                                                        name="type"
                                                        :disabled="loading "
                                                        v-model="$v.subbranch.type.$model"
                                                        :class="$v.subbranch.type.$invalid ? 'is-invalid':''"
                                                        :invalid="$v.subbranch.type.$invalid"
                                                >
                                                <span></span>
                                                شعبة
                                            </label>
                                            <label class="radio radio-success">
                                                <input
                                                        value="Point"
                                                        :checked="subbranch && subbranch.type=='Point'"
                                                        type="radio"
                                                        name="type"
                                                        :disabled="loading"
                                                        v-model="$v.subbranch.type.$model"
                                                        :class="$v.subbranch.type.$invalid ? 'is-invalid':''"
                                                        :invalid="$v.subbranch.type.$invalid"
                                                >
                                                <span></span>
                                                نقطة
                                            </label>
                                        </div>
                                        <div class="fv-plugins-message-container">
                                            <div
                                                    v-for="error in $v.subbranch.type.$errors"
                                                    :key="error.$property"
                                                    data-field="username"
                                                    data-validator="notEmpty"
                                                    class="fv-help-block"
                                            >{{error.$message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <BranchesSelect @branch="branch" :dataRef="'SubBranchModalSelect'"
                                                :label="'اختر الفرع'"></BranchesSelect>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button
                            type="button"
                            class="btn btn-pill btn-secondary"
                            id="closeSubBranch"
                            @click="showModal=false"
                            data-dismiss="modal"
                    >
                        <span class="la la-close icon-nm ml-2"></span>
                        <span class>إلغاء</span>
                    </button>
                    <button
                            data-dismiss="modal"
                            @click="storeItem(subbranch)"
                            :disabled="loading_store"
                            :class="loading_store ? 'spinner spinner-white spinner-left':''"
                            type="submit"
                            class="btn btn-pill btn-primary opacity-90 px-15 py-3 font-weight-bolder"
                    >حفظ
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<style src="./subbranch_modal.component.scss" lang="scss"></style>

<script src="./subbranch_modal.component.js"></script>