<template>
    <div class="form-group">
		<label class="col-form-label col-12 font-weight-bolder" >ارقام المتابعة/CTN</label>
		<div class="kt-input-icon">
			<select class="select2"  id="ctn-select" :disabled="loading || disabled" v-model="selected">
			    <option v-for="element in ctns" :value="element.id" :key="element.id">{{element.name}} - {{element.name.en}}</option>
			</select>
            <span v-if="loading" class="kt-input-icon__icon kt-input-icon__icon--left">
                <span  class="spinner spinner-success spinner-left"></span>
			</span>
		</div>
    </div>
</template>



<style src="./ctn-select.scss" lang="scss"></style>
<script src="./ctn-select.component.js"></script>