<template>
  <div id="root">
    <template v-if="isLogin">
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
    </template>
    <template v-else>
    <header-mobile></header-mobile>
    <div class="kt-grid kt-grid--hor kt-grid--root">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <page-header></page-header>
              <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                <div class="kt-content" id="kt_content">
                  <router-view v-slot="{ Component }">
                    <transition name="fade" mode="out-in">
                      <component :is="Component" />
                    </transition>
                  </router-view>
                </div>
            </div>
            <page-footer></page-footer>
          </div>
      </div>
    </div>
   
    </template>
  </div>
</template>

<script>
import HeaderMobile from '@/components/layout/header/header-mobile/header-mobile'
import PageHeader from '@/components/layout/header'
import PageFooter from '@/components/layout/footer'
export default {
  name: 'App',
  components: {
     HeaderMobile,
    PageHeader,
    PageFooter
  },
  computed: {
  isLogin() {
     return this.$route.name === 'login'
  }
}
}
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import './assets/sass/app.scss';
body{
    font-family: 'Cairo' !important;
    margin:0px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


</style>
