<template>
    <div class="card card-custom">

        <!--begin::Header-->
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">الجهات المانحة \ Donors
                </h3>
            </div>

        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
            <div class="kt-section">
                <div class="kt-section__content datatable datatable-default">
                    <table id="GridStudents" class="table table-striped" style="direction:rtl;text-align:right">
                        <thead class="thead-light">
                        <tr>
                            <th class="">
                                <span>الرمز</span>
                                <div class="font-weight-bold text-muted">Code</div>
                            </th>
                            <th class="">
                                <span>الاسم (العربي)</span>
                                <div class="font-weight-bold text-muted">Name AR</div>
                            </th>
                            <th class="">
                                <span>الاسم (الانكليزي) </span>
                                <div class="font-weight-bold text-muted">Name EN</div>
                            </th>
                            <th class="">
                                <span>عدد المواد </span>
                                <div class="font-weight-bold text-muted">number of materials</div>
                            </th>
                            <th class="">
                                <span>...</span>
                                <div class="font-weight-bold text-muted"></div>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody style="direction:rtl;text-align:right">
                        <tr style="background:#fff;" v-if="loading">
                            <td colspan="4" style="width:100%;height:200px;">
                                <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                    <span class="spinner spinner-danger spinner-left"></span>
                                </div>
                            </td>
                        </tr>
                        <tr v-else v-for="(item,index) in data" :key="index">

                            <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.data[0].code}}</div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0" v-if="item.data[0].name">{{JSON.parse(item.data[0].name).ar}}</div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0" v-if="item.data[0].name">{{JSON.parse(item.data[0].name).en}}</div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell">
                                    <span style="width: 130px;">
                                        <div class="font-weight-bolder font-size-lg mb-0">{{item.count_donor_materials}}</div>
                                    </span>
                            </td>
                            <td class="datatable-cell-sorted datatable-cell">
                                <button style="direction:ltr"
                                        class="btn btn-light-primary font-weight-bolder "
                                        @click="export_werahouse_donors(item.id,item.data[0].code)"
                                        type="submit">
                                    <span class="svg-icon svg-icon-md">تصدير excel</span>
                                </button>

                            </td>


                        </tr>
                        <tr style="background:#fff;" v-if="data!=null && data.length == 0">
                            <td colspan="4" style="width:100%;height:80px;">
                                <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                                    <span class="font-weight-bolder">لا يوجد نتائج مطابقة</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>

        </div>
        <!--end::Body-->
    </div>
</template>
<!--<style src="./donors_table.component.scss"  lang="scss"></style>-->

<script src="./warehouse_donors_table.component.js"></script>